[2017-02-14 08:17] obnoxxx commented on #633
@think01 Right, I did not mean to say to use gluster commands for replace brick (etc) on a heketi-managed cluster, but quoted the documentation to indicate the difficulties involved in getting it right. And pointing out what needs to be done by heketi.

[2017-02-14 10:20] MohamedAshiqrh commented on #161
https://github.com/heketi/heketi/pull/676

Will update the PR.

[2017-02-14 10:21] MohamedAshiqrh commented on #634
https://github.com/heketi/heketi/pull/676

Will update the PR.

[2017-02-14 10:22] MohamedAshiqrh commented on #633
https://github.com/heketi/heketi/pull/676

Will update the PR.

[2017-02-14 10:22] MohamedAshiqrh commented on #635
https://github.com/heketi/heketi/pull/676

Will update the PR.

[2017-02-14 10:23] think01 commented on #633
@obnoxxx I see now, thanks for the reply. We thought it was some sort of workaround so we tried (and) failed hard to apply it.

[2017-02-14 11:43] alikhajeh1 commented on #657
I'm going to close this issue as OpenShift 1.4.1 has addressed this issue :)

[2017-02-14 11:43] #657 closed

[2017-02-14 16:09] barnzdan opened #677 "database is in readonly mode"
% heketi-cli --version
heketi-cli v3.1.0-2-g900f849-release-3

Im seeing the following error during volume create in heketi. I cant find any other issues related and do not see a function to change the mode:

% heketi-cli volume create \

Error: Error calling v.allocBricksInCluster: database is in read-only mode

==Logs from the heketi pod==

[negroni] Started POST /volumes
[negroni] Completed 202

[2017-02-15 13:25] MohamedAshiqrh opened #683 "Heketi should provide a way to copy the existing db to the secret"
This issue is mainly for the backward compatibility. Fix could be just a copy job from gluster volume to secret.

[2017-02-15 13:25] MohamedAshiqrh commented on #683
@lpabon share your thoughts.

[2017-02-15 17:39] lpabon commented on #683
@MohamedAshiqrh I do not think this is the responsibility of Heketi.  I think, as you point out, that a job would be best for this.

[2017-02-15 17:42] lpabon commented on #677
Is the database is on a GlusterFS volume that has gone into read only mode?  See: https://github.com/heketi/heketi/blob/master/apps/glusterfs/app.go#L98 .  It could also be that there are two Heketi processes running and one has the lock to the db and the other (the one you communicated with) does not.

[2017-02-15 17:56] barnzdan commented on #677
Great suggestion! While I didnt find evidence of 2 heketi processes running, I deleted the heketi pod, after rebuild I can create a volume again. Thanks!!

[2017-02-15 17:56] #677 closed

[2017-02-15 18:03] lpabon commented on #677
Awesome! :+1:

[2017-02-15 18:05] lpabon commented on #659
FYI We now have Heketi 4 server and client binaries, while we also have containers available

[2017-02-15 18:07] lpabon commented on #665
@naisanza I think that may work. I have never tried it because afaik there is a limit to the number of losetups you can do.

[2017-02-16 22:23] apcension commented on #625
Hi - I ran into this same scenario, though on bare metal.  Second node setup always loops.  Any work around?

Thx

[2017-02-21 09:42] aliscott opened #685 "Openshift Origin: scaling heketi for multiple replicas not working"
Using OpenShift Origin 1.4.1 and heketi-cli v4.0.0, I'm trying to scale up the heketi deployment config so it is highly available.

After following https://github.com/heketi/heketi/wiki/OpenShift-Integration---Project-Aplo I run:
[code]

The new heketi pod will fail to get to the `Ready` state with the following errors:
[code]

[2017-02-21 10:15] MohamedAshiqrh commented on #341
@lpabon Looks like this already done. Can we close this?

[2017-02-21 10:20] MohamedAshiqrh commented on #379
I think this is added upstream kubernetes now by @humblec. Please add appropriate link to doc for future reference @heketi/dev .

[2017-02-21 10:59] MohamedAshiqrh commented on #585
Closing, As this is duplicate of #318 which was fixed by #670.

[2017-02-21 10:59] #585 closed

[2017-02-21 11:01] MohamedAshiqrh commented on #588
@lpabon We can close this as we will not face this scenario anymore. With secret having the DB and also all data taken from secret.

[2017-02-21 11:02] MohamedAshiqrh commented on #588
Fixed in Release 4.

[2017-02-21 16:01] lpabon commented on #685
Heketi only supports a single replica because it must have exclusive access to the db.

[2017-02-21 16:01] #683 closed

[2017-02-22 03:08] 18025341316 opened #687 "no api to get the free or used size of a volume"
When use heketi to dynamicly provide storage for kubernetes pod,there is a need to know the free size of a volume so we can explode the volume size on need.

[2017-02-22 05:36] lpabon commented on #687
Correct. Heketi deals more with devices and the cluster.  To get volume information you will need to get information from GlusterFS.

[2017-02-22 05:37] #588 closed

[2017-02-22 05:42] 18025341316 commented on #687
yes,we can get the free or used size of a volume from GlusterFS,but heketi already has a api to get the volume information,why not include the free or used size?

[2017-02-22 14:53] aliscott commented on #685
This also causes an issue when the single heketi pod is recreated.

Since the old pod is still terminating when the new one is created, the new pod opens the db in read-only mode, with this warning:
[code]

To get round this I've added `terminationGracePeriodSeconds: 0` to the heketi deployment config.

[2017-02-23 20:12] ubwa commented on #656
I am encountering the same problem on CentOS Linux release 7.3.1611 (Core) with origin 1.4.1

Has anybody got anywhere?

[2017-02-24 02:23] harryge00 commented on #656
I have deployed glusterfs as replication controllers instead of daemonset, it worked:
[code]
But you have to manually pin glusterfs to kubernetes nodes.

[2017-02-24 08:31] #402 closed

[2017-02-27 13:32] andrewlove opened #690 "First heketi-cli node add succeeds. Subsequent node or device adds fail."
Using heketi v4.0
Create a new cluster using `heketi-cli cluster create`
Add a first storage node using `heketi-cli node add --zone=1 --cluster=adae8d4511669f04f83e08bb6d6bc666 --management-host-name=ose-gluster-001.openstacklocal --storage-host-name=10.10.10.11
So far so good.

Add a second storage node using `heketi-cli node add --zone=1 --cluster=adae8d4511669f04f83e08bb6d6bc666 --management-ho

[2017-02-27 16:05] andrewlove commented on #690
Update
---------
I have gotten round the above error. I believe I may have not set the `HEKETI_KUBE_NAMESPACE` correctly, hence the PeerProbe errors.

When i try to add a second storage node I now get:
`Error: Unable to execute command on glusterfs-dc-ose-gluster-001.openstacklocal-1-m649t: peer probe: failed: Probe returned with Transport endpoint is not connected`

[2017-02-27 17:51] andrewlove commented on #690
Update
---------
Having done an:
`iptables -F`
On each storage node I can now execute heketi-cli commands successfully.

The storage nodes/containers were created in OpenShift using the Heketi glusterfs-template.json

How do I ensure that there are no iptable rules in future gluster container deployments?

[2017-02-28 03:47] lpabon commented on #690
@andrewlove good question.  Iptables is needed to be done by the kubernetes administrator because it is change on the host and not managed by OpenShift/Kubernetes.  You may want to use an ansible script on the nodes to setup the iptables accordingly.

[2017-02-28 03:49] lpabon commented on #687
@18025341316 Ah, good question.  The thing is that Heketi is not a RESTful interface for GlusterFS volumes, it is more of a 'pool' manager.  Once the volume is created, all calls must now go to the volume to get the latest information.

[2017-02-28 03:51] lpabon commented on #685
@aliscott Thanks!  This also will not be necessary in Heketi 4 since it backs up the database to a secret and no longer uses the glusterfs volume for the db.

[2017-02-28 03:54] 18025341316 commented on #687
@Lpabon,is thare some api to get the free size of volume besides gluster command line?

[2017-02-28 03:56] lpabon commented on #687
I know that the glusterd 2.0 project is supposed to provide a REST interface, but I am not sure how far they are in that project.

[2017-02-28 04:02] 18025341316 commented on #687
@lpabon TKS.Do you have some idea about montioring gluster volume so case when volume is full We can expland volume on demand?

[2017-02-28 07:30] andrewlove commented on #690
@lpabon many thanks. I should just clarify, I issued `iptables -F` in each of the glusterfs containers not on the hosts.
As you say I manage the iptables on the hosts externally .
So my question is where do the Openshift/Kube containers pick up their iptables rules from?

[2017-02-28 15:28] lpabon commented on #690
@andrewlove That is a great question.  I have no idea also :-) .  I thought you ran that on the host, didn't know you ran that from the container.  I wonder if the iptables is global for a privileged container (as the glusterfs one is), so what you did could be done and thus affects the host.  If that is true, then I am guessing that a non-privileged container would not allow an iptables change.

[2017-02-28 22:39] sheerun opened #691 "Support for hybrid deployments"
Does heketi supports deployments across multiple clusters of different types?

I'd like to setup a cluster bare centos machines with glusterfs (as a safety measure), and then only attach to it kubernetes clusters that participate in glusterfs cluster, but that I can also safely teardown at any time (I'll never teardown cluster of bare centos machines).

Prove me wrong, but from I see heketi doesn'

[2017-03-01 01:51] sheerun opened #693 "Simplify topology configuration"
Am I wrong to think that topology configuration file could be simplified from

[code]

to

[code]

or even less than it if we assume the zone should default to 1 and hostname default to ip?

[code]

[2017-03-01 03:03] sheerun opened #694 "No timestamps in logs"
It's harder to debug this way. Could you include some kind of timestamps in the logs?

[2017-03-01 03:46] sheerun opened #695 "Misleading error message"
It seems that I dont' have enough glusterfs nodes to support given nomber of replicas, as following succeeds:

[code]

but following fails:

[code]

Unfortunately heketi fails with message "Error: No space" instead of "Error: Not enough replicas"

Could you fix this error message?

[2017-03-01 03:52] sheerun opened #696 "Unable to remove volume"
Hey,

I've created a volume with following command:

[code]

but now when I try to remove it with `heketi-cli volume delete`, I get:

[code]

I have just one node with glusterfs cluster but it shouldn't matter as I was able to create volume (actually I'm not sure it was created, but at least it's present in heketi and I've got nice logs upon creation:

[code]

[2017-03-01 04:18] sheerun opened #697 "No space to backup in kubernetes secrets"
[heketi] ERROR 2017/03/01 04:14:32 /src/github.com/heketi/heketi/apps/glusterfs/app_middleware.go:69: Unable to backup database to kubernetes secret: Unable to create database secret: Secret "heketi-db-backup" is invalid: data: Too long: must have at most 1048576 characters

I have no idea what it tries to save and why it is that long. Please let me know if I can help debug this.

[2017-03-01 04:28] sheerun opened #698 "Unable to remove volume created with just one replica"
Sorry for that many issues today, just one more. I get following error when trying to delete volume:

[code]

I think I've created this volume with:

[code]

and then added two more nodes to the heketi cluster (it turned out 1 is too low for kubernetes)

[2017-03-01 12:41] corlettb opened #699 "LVM umount"
I had an issue with heketi/gluster/lvm last week.

Environment Info

OS: Ubuntu 16.04
Heketi: 3.1.0
Kubernetes: 1.5.3

1xHeketi server
3xGlusterfs servers
2xebs volumes on each glusterfs server.

Essentially what happened is a volume was created (10g) and some kubernetes pods kicked off which were writing a lot of data to the volume.

Once the volume got quite full. Maybe around the 80%-90% range

[2017-03-01 22:00] lpabon commented on #699
Great debugging @corlettb .  @heketi/dev  please take a look.

[2017-03-01 22:02] lpabon commented on #697
Heketi 4.0 saves the database to a Kubernetes secret.  Seems that the max secret size is small.  I'll take a look at this.

[2017-03-01 22:03] lpabon commented on #695
@heketi/dev

[2017-03-01 22:03] lpabon commented on #694
Is this not ok `[heketi] ERROR 2017/03/01 04:14:32` ?

[2017-03-01 22:05] lpabon commented on #691
Correct, but this is something we could do for a future release.

@heketi/dev

[2017-03-01 22:05] lpabon commented on #691
We'll take a look at it and decide if it will be for Rel 5 or 6

[2017-03-01 22:10] lpabon commented on #697
Bummer, seems that the secret max [size is only 1MB](https://kubernetes.io/docs/user-guide/secrets/).  I thought it was 16MB.  We'll have to look at how to fix this issue.

[2017-03-01 22:11] lpabon commented on #697
@heketi/dev

[2017-03-01 22:26] sheerun commented on #694
it is, but not all of the services have this timestamp. Notably [negroni] is missing them as there are many logs from it. There are some outliers like "Listening on port 8080", "Copied backup db to /var/lib/heketi/heketi.db", "Heketi v4.0.0-21-g50344fc"

A consistent log format with timestamps everywhere would be perfect :)

[2017-03-01 22:30] sheerun commented on #697
1mb seems like a lot, though :) maybe you keep unnecessary things in the db

[2017-03-01 22:43] lpabon commented on #697
seems like we could zip it, that should be easy

[2017-03-01 22:44] lpabon commented on #697
@sheerun do you mind providing the size of the db?  You can run  `kubectl exec -ti <heketi pod name> /bin/bash` then run `ls -al` under `/var/lib/heketi`

[2017-03-02 07:31] ekuric opened #700 "add support in haketi to allow nodes to be in two different cns clusters"
Currently , heketi supports nodes to be only in one CNS cluster,  that means it is not possible to build structure like

- cns cluster 1 : nodes: node1, node2, node3, and devices /dev/sdb, /dev/sdc, /dev/sdd on these nodes
- cns cluster 2 : nodes: node1, node2, node3, and devices /dev/sdf, /dev/sdg, /dev/sdp on these nodes

idea is for nodes to host two different ( or more ) clusters where cluster

[2017-03-02 08:31] MohamedAshiqrh commented on #700
@ekuric Yeah, this will be useful if they have both ssd and hdd in same node. @lpabon @obnoxxx Along with the --cluster option we can have a label --device-set "some label" which can be used to choose faster/notsofast devices. What do you guys think?

[2017-03-02 14:45] sheerun commented on #697
Unfortunately I've re-deployed heketi from this cluster since I've published this issue, and the database seems to have only 24KB now:

[code]

I imagine something went wrong with heketi and it saved to database more than it should. Unfortunately I cannot assist you any more what happened exactly. I'd think what heketi saves to database, and if it's possible that due some bug it can write a lot mo

[2017-03-03 06:43] MohamedAshiqrh opened #702 "Cleaning up setup-openshift-heketi-storage path"
@lpabon @obnoxxx @humblec @jarrpa @ramkrsna @raghavendra-talur

Hi,
I think we should cleanup the setup-openshift-heketi-storage path as we do not require it anymore. Also as DB is Moved to secret the heketidbvolume should be able to delete. The check from stopping the volume to be delete should be removed. Share your thoughts?

[2017-03-04 12:53] aliscott commented on #685
@lpabon thanks! Will the new secret implementation for the database work with OpenShift? I see it is already in the deployment yaml for Kubernetes, but not OpenShift yet.

[2017-03-04 14:11] harryge00 opened #703 "Make heketi highly-available"
I just wonder, if it is possible to make heketi highly-available? I think this may be a huge feature because it is not easy to make multiple heketi instances writing to the same boltdb at the same time safely.

[2017-03-04 20:22] harshal-shah commented on #656
I am facing this exact issue since the gluster/gluster-centos:latest image was updated recently.
Last week the demo mentioned in gluster-kubernetes was working fine, but not now.

[2017-03-05 03:04] lpabon commented on #703
Correct.  In a way, this can be achieved by running on a kubernetes cluster.  Kubernetes keeps track of the container running and also provides the [service](https://kubernetes.io/docs/user-guide/services/) which allows access to the container running anywhere in the cluster.

[2017-03-05 03:08] lpabon commented on #702
@MohamedAshiqrh  I think that is a great idea, but we really need to have more coverage on the secret support before we make a full change.  Take a look at #697 . Two things are interesting about that.  One is that we can use gzip from golang and compress the db.  That is easy.

The second is that for some reason the db over 1M in size.  That seems really weird and big to me.  Need to investigate

[2017-03-06 09:01] humblec commented on #702
Indeed this is good thought. but as @lpabon mentioned, the heketi db size and the data we store in the DB need to be closely analyzed as we have 1M limit for secret.

[2017-03-06 09:53] obnoxxx commented on #703
@harryge00 Note that high availability does mean to have multiple heketi instances running at the same time, writing to the same DB. High availability means to make sure that a (one) heketi instance is always reachable, i.e. more a failover-solution which, as @lpabon explained can for instance be achieved by running in a kubernetes cluster. The multiple-writers/instances part is a scale-out / load

[2017-03-06 10:04] obnoxxx commented on #700
@MohamedAshiqrh I think the label request is actually an independent thing (which I want to detail in a separate issue).

@ekuric Maybe I have not fully understood your suggestion. But there is no such thing as a CNS cluster. There are gluster clusters, and gluster can afaik only have a given node participate in one single cluster. But referring to CNS: CNS is the solution that lets heketi and glu

[2017-03-06 10:38] humblec commented on #656
@aliscott @harshal-shah @ubwa Can you stop `rpcbind` service in the host and try to deploy gluster container ?

[2017-03-06 10:45] aliscott commented on #656
@humblec I currently have it deployed with `rpcbind.service` and `rpcbind.socket` stopped and disabled on the hosts and am still seeing this issue.

[2017-03-06 10:46] humblec commented on #656
@aliscott can you please provide the glusterd logs ?

[2017-03-06 11:46] aliscott commented on #656
@humblec here are the glusterd logs:

[etc-glusterfs-glusterd.vol.log.txt](https://github.com/heketi/heketi/files/820979/etc-glusterfs-glusterd.vol.log.txt)

And below is the events of the gluster pod when I run a redeploy.

Note: If I make sure the existing pod is terminated before I deploy the new pod then everything works as expected (e.g. scale to 0, wait for the old pod to terminate then rede

[2017-03-06 11:46] harryge00 commented on #703
@obnoxxx  Thanks very much for your detailed reply. I have previously pinned the heketi on a kubernetes node, with hostpath as the volume. And when the kube-node went down, the instance stopped providing service. I have now unpinned it, and even when the node goes down, it can be deployed to another node.

[2017-03-06 11:48] #703 closed

[2017-03-06 11:49] ekuric commented on #700
@obnoxxx yes,you are right, please forget cns as it is "downstream", by mistake I used that term.

We talk here about heketi cluster. I do not think we can run multiple gluster clusters on same hardware / nodes ( at current status and when running in kubernetes/openshift ) it will fail to start it due to  [1]

[1]
[code]
it does not allow kubernetes node to be part of two gluster clusters, what pr

[2017-03-06 13:48] MohamedAshiqrh commented on #700
@ekuric @obnoxxx There are (solvable)problems based on hostname/IP to run multiple gluster instances in the same node.
Refer:
http://lists.gluster.org/pipermail/heketi-devel/2017-March/000080.html

[2017-03-06 13:49] MohamedAshiqrh commented on #699
@lpabon Will take a look soon. @humblec FYI.

[2017-03-06 15:38] dindinw commented on #656
I got similar issue. `systemctl stop rpcbind.socket` works for me. but I am not using the latest image. I use the image `gluster/gluster-centos:gluster3u8_centos7`

[2017-03-06 15:40] harshal-shah commented on #656
I got this error even when i used `gluster/gluster-centos:gluster3u8_centos7` I will try `systemctl stop rpcbind.socket` and get back.

[2017-03-06 22:30] tanner-bruce opened #704 "Gluster Hot Tier support in Heketi"
Is it possible to add a hot tier to a volume with Heketi?

[2017-03-07 00:34] ngpestelos commented on #656
I've been following this [tutorial](https://github.com/heketi/heketi/wiki/OpenShift-Integration---Project-Aplo) and can confirm that the suggestion above (stopping rpcbind.socket in storage nodes) works.

[2017-03-07 02:46] ngpestelos opened #705 "Unable to add device possibly due to lvm"
I'm going through this [tutorial](https://github.com/heketi/heketi/wiki/OpenShift-Integration---Project-Aplo) and I'm unable to register my topology:

[code]

[2017-03-07 08:13] MohamedAshiqrh commented on #702
@lpabon @humblec  @heketi/dev

The heketi db sizes to 1M with 3 nodes and 6 devices with 140 1 GB volume in Mock which I think is little. They will hit the issue faster if they multiple cluster managed by heketi.

Let me know if the information helped. I can also verify with just some operations if the db size is increased.
@lpabon can you tell me just in what cases do you have in mind where no ne

[2017-03-07 08:18] MohamedAshiqrh commented on #685
@aliscott We have deployment of the same in https://github.com/gluster/gluster-kubernetes. I can add the openshift content here too but I feel it is unnecessary. if @heketi/maintainers  @heketi/dev feel we should maintain here too then I can send a PR for this.

[2017-03-07 10:50] MohamedAshiqrh commented on #656
@ngpestelos I would recommend you to use https://github.com/gluster/gluster-kubernetes.

[2017-03-07 10:51] MohamedAshiqrh commented on #656
Workaround for the issue is available as [PR](https://github.com/gluster/gluster-containers/pull/34).

[2017-03-07 14:44] andrewlove opened #707 "Setting volume parameters via Heketi"
Is there a way to set GlusterFS volume parameters via Heketi? For example:
[code]

[2017-03-07 20:03] sheerun commented on #587
@ramkrsna @jarrpa How about securing client connection (i/o and management) from kubernetes, when glusterfs is configured to use TLS: https://kshlm.in/post/network-encryption-in-glusterfs/

Is it possible? How to configure it?

[2017-03-08 08:26] MohamedAshiqrh commented on #587
@sheerun I am currently looking into this. We want to support it from the kube secrets[WIP].
For now you can bind mount the /etc/ssl from host to gluster container. Then set the volume options.

1)Certs to be generated from host.
2)Bind mount /etc/ssl to gluster container in /etc/ssl as ReadOnly.
3)Then follow the blog.

This should work let me know us know if you face some issues.

[2017-03-08 09:04] sheerun commented on #587
@MohamedAshiqrh But there are no gluster containers to start on kubernetes side. I just configure storageclass, add persistent volume claim, and start a pod with specific "persistentVolumeClaim " configured as volume. Similarly to how it's documented here: https://docs.openshift.org/latest/install_config/storage_examples/gluster_dynamic_example.html

Any hints to setup storageclass to support TLS?

[2017-03-08 20:17] tanner-bruce commented on #705
When you add block devices via the topology they are supposed to be unformated raw devices

[2017-03-08 21:02] tanner-bruce opened #709 "Implement a recursive delete"
When deleting a cluster you need to first remove volumes, then devices, then nodes, and then finally you may remove the cluster. It would be nice if there was a `heketi-cli cluster delete --recursive` (and possibly a `--yes` flag to go along with it) that would delete everything for you. `--yes` would simply remove the confirmation before each item

[2017-03-09 11:54] humblec opened #711 "volume create request should have a volume option field with it."
At the moment, heketi dont have a field for specifying gluster volume options. Its good to have a new member so that the client or caller can pass volume options in the request.

[2017-03-09 12:02] obnoxxx commented on #711
I think this is not necessarily the right apporach:
One of heketi's principles is that it shields the lower level details from the caller.
Handing out low-level volume options to the caller of heketi seems to be against these principles. (similar to allowing to specifiy an explicit cluster ID.)

We might think about having some higher level options that call out for optimizing a volume config for

[2017-03-09 12:08] humblec commented on #711
@obnoxxx u r fast :) .  I completely agree on the optimization or QOS based setting done by heketi its own. I am mainly looking for volume options like `client.ssl ` , `server.ssl` ..etc which has to be set on volumes to support encryption. What we can do here is, kind of whitelisted volume options in heketi and enable it if the user request comes in for those and discard the option if it does not

[2017-03-09 12:40] obnoxxx commented on #711
Ok, that makes sense. But we should still think about wrapping the gluster-options into some higher-level settings in heketi. like 'encryptable' or 'encrypted', etc. not sure what's the best approach here, just requesting to think about whether the path of least resistance is right...

[2017-03-09 14:48] obnoxxx commented on #697
First of all, what this issue teaches me is that the introduction of backup to kubernetes secret was incomplete, in that it was unconditional. I would like us to introduce a switch first of all to enable (or disable) this feature. Then we can still think about how to reduce the size of the db itself. But we should make it switchable-off asap, imho.

[2017-03-10 13:28] jarrpa commented on #711
@obnoxxx I actually agree with @humblec on this one. If we try to wrap everything, it becomes heketi's job to keep pace with any changes to Gluster's options. I see nothing wrong with allowing an advanced user access to the lower-level functionality, and in fact think it's regressive to block it entirely.

[2017-03-13 15:38] kramdoss opened #712 "Need a better error message when a cluster id with no bricks is provided"
When a cluster is created manually without any nodes or bricks and when such a cluster id is defined as part of storage class, pvc creation fails with 'Error calling v.allocBricksInCluster: Id not found'. Looks like we just return the error received from the function. A better error message should be provided.

ProvisioningFailed	Failed to provision volume with StorageClass "voltypenegative": glus

[2017-03-14 00:23] #697 closed

[2017-03-14 13:14] pcm32 commented on #631
Hi! Is there anything in terms of helm chart that someone has developed that we could try along these lines? I mean, to deploy Heketi through a helm install call.

Thanks!

[2017-03-14 15:37] lpabon opened #715 "When ls cannot find a directory it is shown as an error in logs"
PR #686 introduced a change which is being logged as an error.  This needs to be fixed so that it does not log an error.

Example:

[code]

[2017-03-15 23:49] obnoxxx commented on #698
@sheerun thanks for reporting all this.
This looks weird and needs to be investigated.
Which operations did you do with the volume before trying to delete?

[2017-03-16 07:21] raghavendra-talur opened #716 "Allocator should account for zones too"
When a volume is created or a device is replaced, the brick allocation logic does not enforce proper zone distribution. This logic should be implemented and used by both volume create and device remove.

[2017-03-16 07:23] raghavendra-talur opened #717 "Determine brick sets during heketi startup instead of doing it while removing device"
Refer to Upgrade() function to get more details.

[2017-03-17 09:07] sheerun commented on #698
I think none except creating it and adding nodes to cluster. It might but not have to be connected to creating volume with replica count less than number of servers in cluster, and then resizing cluster size, and then manipulating volumes some more..

[2017-03-17 15:21] raghavendra-talur commented on #161
Can we consider that #710 closes this?

[2017-03-17 15:22] raghavendra-talur commented on #633
Can we consider that #710 closes this?

[2017-03-17 15:58] lpabon commented on #633
Closed by #710

[2017-03-17 15:58] #633 closed

[2017-03-19 09:19] timbrd opened #720 "Unable to create new volumes"
I have a running openshift cluster with glusterfs and heketi. Until yesterday everything worked as expected. Since today though I am not able to create new volumes anymore:

[code]

Heketi seems to have forgotten my cluster:

[code]

I'm not sure what caused this, maybe I have restarted the openshift node which was running the heketi pod and heketi wasn't able to restore the database after it?

Wh

[2017-03-19 09:21] timbrd commented on #720
Btw: All the existing volumes can still be mounted by the pods.

[2017-03-19 17:59] mjudeikis opened #721 "RFE - Manage External glusterfs cluster from heketi on Openshift"
As a possible use-case, I want to run my gluster outside Openshift and still use storageclasses via heketi.

I could install heketi on separate server externally, but current heketi implementation uses boltDB as a storage, this means - no resilience.

I want to be able to generate:
heketi setup-openshift-heketi-storage and get my external cluster details, and redeploy this in OCP so it just manage

[2017-03-19 19:57] madchap opened #722 "Unable to open database"
Hi,

heketi v4, installed on centos/7 vagrant, from the tarball. First time trying it.

Doing a cluster list, output is it can't open database. Running strace, it doesn't seem to open the database file at all:

[code]

My heketi database is located under /var/lib/heketi/heketi.db as per the "usual", and as specified in my json config file.

[code]

Anything I may be doing wrong? Thanks.

[2017-03-22 14:11] ljuaneda commented on #635
Is there any update on this issue ?

[2017-03-22 14:44] MohamedAshiqrh commented on #635
You can do this by removing each device in the node and then delete the device and then delete the node. We support remove device now. We will be doing this soon.

[2017-03-22 14:45] MohamedAshiqrh commented on #635
heketi-cli device remove <device-id>

[2017-03-22 14:45] MohamedAshiqrh commented on #635
@ljuaneda ^^^

[2017-03-22 14:57] ljuaneda commented on #635
just to understand : here the actual strategy to replace a node would be to :
- remove all devices on the old node
- remove the old node
- introduce the new node
- add the new devices on the new node

is that correct ?
if so, how the existing volumes are replicated (new bricks on the new node) ?

I have a pratictal use case : I have a 3 nodes cluster and I would like to replace my initial servers

[2017-03-23 04:44] MohamedAshiqrh opened #725 "Heketi can have a web interface"
Like a console instead of heketi-cli, a GUI for volume management through heketi.

[2017-03-23 13:36] mangirdaz commented on #721
Something like this:
https://github.com/heketi/heketi/pull/726

[2017-03-24 15:19] cjyar opened #727 "Cannot add node, empty error message"
I have a Kubernetes cluster of 3 nodes, each of which is a member of a GlusterFS/heketi cluster. I added a new Kubernetes node, and I want to add it to GlusterFS also.

[code]

Not only does the operation fail; but there's no useful diagnostic output to tell me what's wrong. This is what I see in the heketi log:

[code]

**Environment:**
- Kubernetes 1.5.2+coreos.0
- GlusterFS 3.8.9
- Heketi v4.0.

[2017-03-27 11:50] lwolf opened #728 "empty database secret on fresh install following kubernetes manual"
I followed [kubernetes integration manual](https://github.com/heketi/heketi/wiki/Kubernetes-Integration) on the latest version.

Everything works fine until the last step when we are deleting deploy-stuff and creating the real deployment.
Before this step, if I run `heketi-cli topology info` I can see all information.
After this step, it returns nothing.

I tracked down the problem to the empty `h

[2017-03-27 19:15] TANguyen1893 opened #729 "Python3.5 Encoding"
It seems that the Python client is not compatible with Python3.5. My code produces an error:

  File "/home/tuan-anh/code/k8s-deployment-tools/tools/k8s_deployment_tools/utils/glusterfs/create_pv.py", line 41, in <module>
    c = gluster_volume_creator(None)
  File "/home/tuan-anh/code/k8s-deployment-tools/tools/k8s_deployment_tools/utils/glusterfs/create_pv.py", line 24, in __init__
    self.auth

[2017-03-28 10:39] MohamedAshiqrh opened #730 "A cluster with one node and no device "Volume create fails""
There are multiple cluster in heketi but first cluster was having only one node and no devices.
volume create failed with:
`Error calling v.allocBricksInCluster: Id not found`

[code]
LOGS:
[code]

[2017-03-28 10:39] MohamedAshiqrh commented on #730
@obnoxxx This for the issue which we saw.

[2017-03-28 10:45] MohamedAshiqrh commented on #635
@ljuaneda So heketi doesn't guarantee you that the new node will be used to replace the old node. But there is high chances for new node's devices to be selected for the replacing brick too(Based on the ring allocator which chooses the placement of the brick).

So the idea is to add new node and devices to the node. Then device remove on all the devices in a old node. Delete the devices in the old

[2017-03-28 11:41] mangirdaz commented on #555
Which go version was used to generate go heketi binary? as it looks like old crypto lib was used?

[2017-03-28 11:45] lpabon commented on #555
Probably needs to be updated: https://github.com/heketi/heketi/blob/master/Godeps/Godeps.json#L275

[2017-03-28 11:47] mangirdaz commented on #555
This would be first step to try. And + add support to configure cyphers if possible.

[2017-03-28 11:49] lpabon commented on #555
@MohamedAshiqrh fyi

[2017-03-28 12:02] mangirdaz commented on #555
in my case error (comming from Crypto lib to sshd):
Mar 28 07:32:36 ip-10-0-0-189 sshd[13577]: fatal: no matching mac found: client **hmac-sha1,hmac-sha1-96 server hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160** [preauth]

But by hardened openssl client:
[code]

[2017-03-30 15:09] jamstar opened #731 "Unable to open database permission denied"
im having an issue similar to #722 .  I also am running in centos7 vagrant. were both running in vagrant with centos7.  I am using the gluster/kubernetes install script(gk-deploy).  when it is creating the heketi pod, its encountering  an issue with not able to open the database.  no idea what to fix since its just using the container.  i included the describe and logs from the pod. the image im u

[2017-03-30 15:13] mangirdaz commented on #731
Try scale down, wait some time and scale up. because current version uses BoltDB (file based DB) you might still have filelock for writes because k8s/ocp still keeping mounts from previous deployment.

[2017-03-30 16:27] jamstar commented on #731
i scaled it down then waited an hour and the scaled it back up. same result.  any other suggestions i should look at?  Also i tried using 4.0 and got the same result.

[2017-03-31 13:28] jamstar commented on #731
so changing the mount worked since when its launching in the container, it creating a new location in the container. I pulled a new container to a different machine and  I see the existing one (/var/lib/heketi/heketi.db)already exists in the container. the question i have is why is it there already?  should it be there already?

[2017-04-03 01:01] raghavendra-talur commented on #722
@madchap do you still see this error? Could you strace for creat calls too.
Also, attach Gluster logs from all the nodes, we would know if the creat/open calls reached gluster.

[2017-04-03 01:02] raghavendra-talur commented on #731
@jamstar We would need more info to debug this. Please attach gluster logs(/var/log/glusterfs) from all three nodes.

[2017-04-03 01:12] raghavendra-talur commented on #555
@mangirdaz @lpabon If I understand the code correctly, we send those mac types from client of which the public keys are found on the machine. @mangirdaz please ensure that you have a sha2-256 key on the host and try again.

[2017-04-03 01:16] raghavendra-talur commented on #635
@ljuaneda You can "disable" all the devices on the old nodes and then perform remove devices to ensure that old nodes are replaced only using new nodes.

We are yet to merge https://github.com/heketi/heketi/pull/718 , hence you would have to check/ensure that self heal is complete for a volume before performing successive remove devices.

[2017-04-03 14:15] ljuaneda commented on #635
It doesn't work, Heketi won't let me remove a device with bricks on it...

[code]

[2017-04-03 15:41] jamstar commented on #731
ill attach them hopefully latter this week. since i currently have it working currently, i need to finish up my gluster install and config before i break it again.

so looking in  /var/log/glusterfs, i see a number of different files.  i see a etc-glusterfs-glusterd.vol.log and a glustershd.log which do you need?

[2017-04-04 18:20] jamstar commented on #731
after further understanding of how gluster and k8s play together, i don think this is an heketi issue specifically.  im closing this for now. i will reopen in the future if needed.

[2017-04-04 18:20] #731 closed

[2017-04-04 19:16] vasu1124 opened #732 "Heketi support for security context to ensure for correct permissions on the volume?"
For a K8s cluster with v1.5.4, I set up gluster + heketi and tried to deploy the incubator/zookeeper chart. The dynamic storage provisioning worked as designed, but I ran into https://github.com/kubernetes/charts/issues/869.

The pod securityContext requires that the volume shall be mounted with proper permissions for that user/group:
[code]
Seems that the gluster/heketi provisioner does not adher

[2017-04-04 19:24] vasu1124 commented on #632
Sorry for the long pause.
Yes, my comments came form an exercise with K8s, but I would argue that (besides the topology read from labels) the question on the necessity of having to sync states is generic.

In light of having to upgrade my test cluster (with heketi) from 1.5 to 1.6, I am again painfully reminded of the indirect proposal in this issue. Looking forward to "stateless heketi" on the ro

[2017-04-04 21:26] dmesser opened #733 "heketi cannot remove devices which crashed"
When dealing with a situation where a device of a heketi cluster fails because of a disk error heketi cannot remove/delete that device in order to recover on another available brick.

An attempt to delete it will yield the following:
[code]

When a disk on a Gluster node fails the resulting errors from the XFS filesystem are propagated to the parent translator (see [feature description here](https

[2017-04-04 21:31] dmesser opened #734 "heketi cannot recover from nodes which are crashed"
When dealing with a situation where a node of a heketi cluster failed and is not recoverable heketi cannot remove/delete that devices in order to recover on another available brick. This is because heketi needs the node to be reachable in order to delete devices, which is related to #733 .

Furthermore there should be a logic implemented in remove device that upon supplying a switch like --delete-

[2017-04-06 05:54] MohamedAshiqrh commented on #734
https://github.com/heketi/heketi/pull/735

This will fix the issue.

[2017-04-06 05:54] MohamedAshiqrh commented on #733
https://github.com/heketi/heketi/pull/735

This will fix the issue.

[2017-04-08 12:49] madchap commented on #722
I am attaching the output of a full strace including children processes. FYI, heketi can create my gluster volumes just fine through kubernetes, just this list is causing problems -- which is not a blocker for me.

[strace.txt](https://github.com/heketi/heketi/files/907455/strace.txt)

[2017-04-08 13:23] madchap commented on #722
Some additional info.

Selinux enforced, however, same behavior when set to permissive.

[code]

[code]

[2017-04-09 07:49] andersla opened #738 "How can I specify parameter -replica=2 (or 1) to kubernetes PVC"
On the command line this seem to be the syntax for specifying replication factor: ```heketi-cli volume create -name=testvol -size=40 -durability="replicate" -replica=2```
How can this be achieved when running heketi in kubernetes?

[2017-04-10 07:53] zhaorendong opened #739 "How to create the type of Volume I want"
When I create PVC,Kubernetes will be triggered by resturl in Heketi StorageClass.
Then Heketi began to create PVC application disk space, from the creation of PV, create VG, create LV, mkfs to create the file system, and then to create a glusterfs volume。But the type of volume is not I want,How to create the type of Volume I want when I create PVC?

[2017-04-11 12:26] J-Ha opened #741 "Unable to open database. Retrying using read only mode - Unable to open database: mmap too large"
Deployed GlusterFS + Heketi on my kubernetes 1.5 Env.

could someone help?

`2017-04-11T12:20:07.776912445Z Heketi v4.0.0-57-g27e7ea4
2017-04-11T12:20:07.777435572Z [heketi] INFO 2017/04/11 12:20:07 Loaded kubernetes executor
2017-04-11T12:20:07.779658316Z [heketi] WARNING 2017/04/11 12:20:07 Unable to open database.  Retrying using read only mode
2017-04-11T12:20:07.780550402Z [heketi] ERROR 2017

[2017-04-11 12:31] J-Ha commented on #741
solved by deleting and re deploying heketi + heketi-storage.json

[2017-04-11 12:31] #741 closed

[2017-04-11 15:56] harryge00 commented on #739
https://github.com/kubernetes/kubernetes/blob/7028abc5fcb41e7975b98f0900d5765afc48f464/examples/persistent-volume-provisioning/README.md

[2017-04-11 15:59] harryge00 commented on #738
Duplicate as https://github.com/heketi/heketi/issues/739

[2017-04-11 16:17] andersla commented on #739
That's super!
I guess kubernetes docs are outdated at: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2017-04-12 02:42] harryge00 commented on #739
@andersla  Yes. You are right. I have just made a pull request:  https://github.com/kubernetes/kubernetes.github.io/pull/3324

[2017-04-12 06:25] zhaorendong commented on #739
Thanks！

[2017-04-12 15:47] kristiandrucker opened #742 "Single node with 3 drives"
Hi, I own a single server that has 3 drives. Could I run heketi with glusterfs on kubernetes on that single server?

[2017-04-13 15:18] pasjojo commented on #720
Hi timbrd,

I get the same issue with a new glusterfs and heketi on a kubernetes cluster.
Did you find a solution ?

Thx

Joël

[2017-04-14 06:26] zhaorendong opened #743 "Minimum brick size limit reached. Out of space."
When I create StorageClass with volumetype: "disperse:4:2",then I create a PVC,the heketi logs :
[negroni] Completed 202 Accepted in 416.044μs
[asynchttp] INFO 2017/04/14 03:59:22 Started job 978a6b559b415153d386e4d8380ddf99
[heketi] INFO 2017/04/14 03:59:22 Creating volume 5fdecbf43cf001f018a1884a5de2ae46
[negroni] Started GET /queue/978a6b559b415153d386e4d8380ddf99
[heketi] INFO 2017/04/14 03:59

[2017-04-14 18:49] huguesalary opened #745 "Volume mounted in “ (weird non standard quote) instead of /sys/fs/cgroup"
I noticed something strange on my gluster container.

[code]

See those weird folders?
[code]

The first 3 are empty and I'm not sure where they come from.

The last one `???` is actually `“`

[code]

I was able to track down the root cause for the existence of this folder to the Dockerfile in `extra/docker/gluster`

Carefully look at the quotes around `/sys/fs/cgroup`
`VOLUME [ “/sys/fs/cgroup”,

[2017-04-14 18:51] huguesalary commented on #745
Actually, `,` `[` and `[` are probably also the result of those bad quotes.

[2017-04-14 18:53] huguesalary commented on #745
Your docker image needs to be fixed too (https://hub.docker.com/r/heketi/gluster/~/dockerfile/)

[2017-04-18 07:26] SaravanaPunith opened #746 "Error: No space with heketi-3.0.0-1.el7.x86_64 in Centos 7"
I was facing No space error while using heketi as part of setting up CNS environment.

Refer here for details:
https://github.com/gluster/gluster-kubernetes/issues/253

It is better if heketi is updated with these fixes..means to have updated rpms in Centos environment.

[2017-04-18 10:41] MohamedAshiqrh commented on #746
@lpabon @obnoxxx we need to build new rpm for centos. Do we have a document that I can follow If I want to build?

[2017-04-18 10:43] MohamedAshiqrh commented on #745
@huguesalary can you use official gluster images instead of heketi's gluster?

https://hub.docker.com/r/gluster/gluster-centos/~/dockerfile/

[2017-04-18 18:38] huguesalary commented on #745
Hi @MohamedAshiqrh unfortunately they have the same issue with quotes.

[2017-04-19 09:56] zhaorendong opened #747 "Disk space is not fully used"
I had created topology with 1 cluster,3 nodes and 6 devices per node.When I create PVC with 2.4Ti and create Storageclass with volumeType "Replica: 3",The Heketi will create 12 bricks, but every bricks is not fully used space of device.For example: the size of device is 837,then the brick used 614Gi and free 220Gi, but the 220Gi can not be used.Following:
Devices:
                Id:111b937d52f80d

[2017-04-19 15:03] 4admin2root opened #748 "the readme.md in extras/kubernetes/ is not correspond to real"
for example
there is no file named gluster-daemonset.json
and where is deploy-heketi-deployment.json

[2017-04-21 14:45] juanwolf opened #749 "Kubernetes deployment failing because of inexistent serviceAccountName"
Hi,

I was experiencing an issue installing heketi on top of kubernetes from the instructions you provided.

After the `kubectl create -f heketi-deployment.json`, the deployment stayed unavailable.
I've got it working running `journalctl -xe` :

[code]
And set up the `serviceAccountName` value in the `heketi-deployment.json` to `default`.

I was just wondering if I missed something in the installa

[2017-04-24 10:37] MohamedAshiqrh commented on #656
@lpabon We can close this as this is fixed from gluster contianer.

[2017-04-25 04:54] MohamedAshiqrh commented on #745
@huguesalary fixing them. Thanks for notifying.

[2017-04-25 14:55] lpabon commented on #656
@MohamedAshiqrh Sounds like it should be closed, but I'll leave it to @harryge00 to make sure that the workaround works first.

[2017-04-25 14:56] lpabon commented on #746
@MohamedAshiqrh Definitely talk to @jarrpa and @nixpanic. They have the information.

[2017-04-25 15:02] lpabon commented on #555
@raghavendra-talur I'm not sure if this could be an issue, but we should create a PR to update the SSH client code asap.

[2017-04-27 02:54] #656 closed

[2017-04-27 10:19] sgoodliff opened #750 "heketi 4.0 rpm missing from EPEL"
Hi,

where would I find a heketi 4 rpm ?, there is a 3.0.0 version available at https://dl.fedoraproject.org/pub/epel/7/x86_64/

or is there  a spec file to build one ?

Thanks

[2017-04-28 15:54] jarrpa commented on #750
@lpabon @sgoodliff I'll get to this as soon as I can. However, I'm traveling for the next week, so I can't guarantee how much time I'll be able to put into it during that. In the mean time, the repo containing the spec file is here: http://pkgs.fedoraproject.org/cgit/rpms/heketi.git/tree/?h=epel7 if you do any work towards a heketi 4 RPM, we would certainly appreciate it if you'd contribute it to

[2017-04-28 16:02] sgoodliff commented on #750
Ok thanks, I wont have much time until Thursday next week but ill have a go and let you know.

[2017-05-04 12:27] raghavendra-talur commented on #693
1. then we won't be able to describe multiple clusters in a topology file
2. we need both manage and storage fields. manage is used by heketi to interact with gluster and storage is used as values in gluster commands.(this is necessary for setups where admins want the data to flow on a different interface than the management commands)

[2017-05-04 12:37] raghavendra-talur opened #753 "provide a command to dump the current topology in json format"
It would help a admin to edit the existing topology file and do a subsequent load to update the setup.

[2017-05-04 13:43] sgoodliff commented on #750
FYI, I've got a v4 rpm built, will be deploying it in a couple of test environments this afternoon ( uk time) to check i've not done something silly.

[2017-05-04 23:34] rafagsiqueira opened #755 "Service account and clusterrolebinding missing from docs"
I have just spend some time figuring out that in order for things to work, that these two steps are needed for things to work:

`kubectl -n <namespace> create -f https://raw.githubusercontent.com/gluster/gluster-kubernetes/master/deploy/kube-templates/heketi-service-account.yaml`
`kubectl create clusterrolebinding heketi-sa-view --clusterrole=edit --serviceaccount=<namespace>:heketi-service-accoun

[2017-05-05 08:32] sgoodliff commented on #750
Is there any where i can put the modified spec file and the rpm ?

[2017-05-05 08:38] jarrpa commented on #750
@sgoodliff If you have any means of uploading the patch(es), choose your favorite and paste a link here. :) Otherwise send me an email with an attachment, mentioning this PR in the subject line. We'll try to reproduce the binaries.

[2017-05-05 08:57] ae-dg opened #756 "Device size not updated if disk is expanded"
When using VMs for the gluster nodes drive sizes can be changed. For example in RHEV it is possible to expand the drive without even restarting the virtual machine.

After increasing the size of the virtual disk and running pvresize on the virtual disk the volume group shows an increase in the free space.  However heketi doesn't notice and still shows the original size of the drives when requestin

[2017-05-05 09:12] sgoodliff commented on #750
https://gist.github.com/sgoodliff/408c7892e712acffffda638eedb41812

The heketi.service file was missing a -, its correct in https://github.com/heketi/heketi/blob/master/extras/systemd/heketi.service

but not in the repo you sent earlier.

I had to change global_commit as its hard-coded, I will see if i can modify create_deps.sh to fill that in at some point

Hope that helps

[2017-05-05 09:19] jarrpa commented on #750
@sgoodliff Good catch.

Can you use the full hash instead of the short hash? Also, Release should be 1 instead of 4, as it is the first release of version 4.

If you want, I'd encourage you to create a full commit with a short commit message and upload the output of "git show HEAD" so you get proper credit. :)

[2017-05-05 11:10] sgoodliff commented on #750
something like this https://gist.github.com/sgoodliff/9588ae2ebc52a5096e44b1f6980398a6 ?

Thanks

[2017-05-05 11:29] jarrpa commented on #750
@sgoodliff Indeed! If no one else gets to it beforehand, I'll work on producing official RPMs on Monday.

[2017-05-05 14:57] cjyar opened #757 "Re-create deleted endpoints/services"
Several times now, I've had my users delete the `glusterfs-dynamic-xxx` endpoint and/or service that Kubernetes depends on in order to mount a GlusterFS volume. The next time their pod restarts, it's unable to mount its PVC.

In keeping with general Kubernetes practices, it would good for heketi to re-create the service and endpoint if they get deleted.

[2017-05-05 14:57] jarrpa commented on #746
Since this is a request to update the CentOS repo, I suggest we close this Issue and follow the conversation in #750.

[2017-05-06 02:40] lpabon commented on #757
@humblec What do you think is happening here?

cc @heketi/dev

[2017-05-06 02:56] #745 closed

[2017-05-06 06:44] humblec commented on #757
@cjyar those endpoints or services belong to the PVCs, so should not delete as long as the PVC is existing. First of all, I dont know why the users are deleting those endpoints and services?. Do they have ( or need) any special permissions of cluster admin to delete these endpoints/services ?  If yes, you could remove those permissions from them.  Even if its statically provisioned PVs ( without h

[2017-05-06 06:44] humblec commented on #757
/assign me

[2017-05-06 06:46] humblec commented on #730
Yeah, this error need to be more meaningful @MohamedAshiqrh

[2017-05-08 15:33] cjyar commented on #757
@humblec The users have access to create and delete services in their applications' respective namespaces. They need that access in order to deploy applications, because the applications use services to communicate. As to why they deleted them, I think sometimes people make mistakes.

I'm sorry to hear that it's impossible to monitor and re-create objects in Kubernetes.

[2017-05-08 18:44] shiroari opened #758 "Is heketi secured from reusing JWT (Do we need TLS)?"
Hi,

As I can see heketi requires a few JWT claims and it seems to me that requests are not protected from being replayed until JWT is expired. Do you consider to implement TLS support for the server to protect JWT tokens? I guess some requests, for instance, creating a volume could be used to exhaust cluster resources. How critical do you think replaying could be?

[2017-05-11 06:27] yu-yang2 opened #759 "How to get volume's usage rate?"
Is there any way to get the volumes's usage rate from heketi-cli command or api?

[2017-05-11 07:44] swordboy commented on #593
same issue.anybody solved?

[2017-05-11 08:10] swordboy commented on #593
in my case./etc/heketi/heketi.json executor is default to mock.that is heketi will really call glusterfs to create volume.so can't mount

[2017-05-12 01:23] yu-yang2 opened #760 "The node status is not updated"
When a node is down, the `heketi-cli topology info` command not update.

[2017-05-12 04:00] yu-yang2 commented on #635
same issue above.

[2017-05-12 04:00] yu-yang2 commented on #635
same issue above.

[2017-05-14 14:33] yu-yang2 opened #761 "Heketi stuck in ContainerCreating after server reboot."
[code]

[2017-05-14 14:38] #760 closed

[2017-05-16 04:53] MohamedAshiqrh commented on #755
Hi @rafagsiqueira, We have [gk-deploy](https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md) for all the deployment requirement which covers this too. Thanks for pointing this out. Will add this step in heketi wiki.

[2017-05-16 04:56] MohamedAshiqrh commented on #161
@lpabon @obnoxxx  Is there anything pending for this issue?

[2017-05-16 05:52] MohamedAshiqrh commented on #587
@sheerun You will find the gluster DaemonSet in your openshift setup. you have to add the changes to the daemonset file and this will restart the daemonset which will intern have the certs which is created on the hosts where the gluster pods are running.

[2017-05-16 05:56] MohamedAshiqrh commented on #593
@pravege @swordboy Which environment are you trying is it kubernetes/openshift where gluster is running as container or just in vm running gluster. you have to change the config file according to the [doc](https://github.com/heketi/heketi/wiki/Running-the-server#config-file). Then try again. Mock is used for development purposes and is the initial config in configuration file which has to be chang

[2017-05-16 05:58] MohamedAshiqrh commented on #605
https://github.com/heketi/heketi/pull/751

This might help this case.

[2017-05-16 06:08] MohamedAshiqrh commented on #635
@ljuaneda @yu-yang2 You need to disable the device and then do heketi-cli remove device <id> then heketi-cli delete device <id>.

[2017-05-16 06:08] MohamedAshiqrh commented on #636
https://github.com/heketi/heketi/pull/752

This does the remove device operation.

[2017-05-16 06:15] MohamedAshiqrh commented on #665
@naisanza nice, will give it a try too. Thanks.

[2017-05-16 06:18] MohamedAshiqrh commented on #691
@lpabon @sheerun This will be a good feature to have. As it can manage multiple gluster cluster in any environment it may be.

[2017-05-16 06:26] MohamedAshiqrh commented on #705
@tanner-bruce you are right. Thanks :)

[2017-05-16 06:28] MohamedAshiqrh commented on #707
@andrewlove We are working on something similar.

See https://github.com/heketi/heketi/pull/751 .

This can add more options like encryption, small-file perf, etc options

[2017-05-16 06:30] MohamedAshiqrh commented on #712
@kramdoss This is error message fix. Thanks. @heketi/dev fyi

[2017-05-16 06:37] MohamedAshiqrh commented on #721
This will also help #691 . Nice work.

[2017-05-16 06:41] MohamedAshiqrh commented on #725
duplicate https://github.com/heketi/heketi/issues/675

[2017-05-16 06:41] #725 closed

[2017-05-16 06:44] MohamedAshiqrh commented on #727
@cjyar can you check if the other operations are happening in heketi. like get node,device,cluster list/info. If all worked can you give a try again. I am not sure what has happened. Can you give a try again and share the complete log of heketi and also your daemonset details?

[2017-05-16 06:48] MohamedAshiqrh commented on #730
This is same as https://github.com/heketi/heketi/issues/712

[2017-05-16 06:49] MohamedAshiqrh commented on #732
@humblec Can you take a look?

[2017-05-16 06:51] MohamedAshiqrh commented on #733
This is fixed we can close this. @lpabon @obnoxxx

[2017-05-16 06:51] MohamedAshiqrh commented on #734
This is fixed we can close this. @lpabon @obnoxxx

[2017-05-16 06:53] MohamedAshiqrh commented on #738
https://github.com/heketi/heketi/issues/739#issuecomment-293309244 answers the issue. We can close this issue. @lpabon @obnoxxx @andersla If there is nothing else.

[2017-05-16 06:54] MohamedAshiqrh commented on #739
@harryge00 Thanks for the information.

[2017-05-16 06:58] MohamedAshiqrh commented on #742
@kristiandrucker Technically you could only problem is that the heketi creates a replica three glusterfs volume to save its own db. This will fail. you can change your heketi dc file to store the heketidb on the host as you have single host and use the same. Remember if you have more than one node and heketi migrates to some other place the haketidb will be not present on that host so heketi will

[2017-05-16 06:59] MohamedAshiqrh commented on #743
@zhaorendong can you share the topology output? then we can share more details on what you are facing.

[2017-05-16 07:00] MohamedAshiqrh commented on #750
@jarrpa Any update on this? Can you also teach me to build it?

[2017-05-16 07:32] MohamedAshiqrh commented on #748
@4admin2root hey we have a [repo](https://github.com/gluster/gluster-kubernetes) which is more preferable for the kubernetes and openshift deployments as we have mentioned in the heketi [wiki](https://github.com/heketi/heketi/wiki/Kubernetes-Integration#overview).

[2017-05-16 07:41] MohamedAshiqrh commented on #749
@juanwolf Can you follow document in https://github.com/gluster/gluster-kubernetes ? We have made a tool for deployment and setting up is really simple with it. I am not sure what the issue is.

[2017-05-16 07:46] MohamedAshiqrh commented on #761
All bricks are down for the heketidbstorage volume which hosts the heketidb that is why it is not able to mount. can you force stop and start the gluster heketidbstorage volume manually?
exec into a gluster pod and try:
[code]

[2017-05-16 07:49] juanwolf commented on #749
@MohamedAshiqrh Thanks for the reply! Using this template: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/heketi-deployment.yaml the deployment failed because of the inexistant `heketi-service-account` service account. I was just wondering if I missed anything. I will close the issue anyway as it's was just a question rather than a proper issue.

[2017-05-16 07:49] #749 closed

[2017-05-16 10:05] sgoodliff commented on #750
I'd be happy to build a new rpm or update the spec file every release if there was somewhere useful I could push it to

[2017-05-16 14:37] cjyar commented on #727
@MohamedAshiqrh Thank you for your reply. That problem was almost two months ago; my system looks very different now. I have different versions of Kubernetes and GlusterFS, and it's configured differently. In the new config, it's working. I don't remember all of the things I changed, so I don't know which change might have fixed it.

[2017-05-16 14:37] #727 closed

[2017-05-16 16:22] humblec commented on #757
@cjyar here is the good news :) . I did quite amount of refactoring of code and made it possible from the provisioner. The patch is merged in upstream and from 1.7 onwards, it will reattempt and create endpoint if it got wiped in between !

[2017-05-16 16:24] MohamedAshiqrh commented on #757
@humblec awesome. Thanks this indeed is a good news.

[2017-05-16 16:26] ljuaneda commented on #635
We tried CNS 3.5 on OCP 3.4.
Update did worked well.

Then we began replacing our old nodes, do that one by one.
Currently, we're hitting an error removing the devices on the last one.

[code]
Case opened at access.redhat.com, leading to a bugzilla : https://bugzilla.redhat.com/show_bug.cgi?id=1449312

So far, the heketi-storage.db seems in very bad shape...  Any idea ?

[2017-05-16 16:46] cjyar commented on #757
@humblec Thank you! For some reason, my users keep making this mistake. It'll save them a lot of grief.

[2017-05-17 04:03] yu-yang2 commented on #761
@MohamedAshiqrh thanks for your suggestion, my problem resolved. But there is another question, after node reboot, the gluster volume's capacity become smaller, almost half of the actual volume size. Even if I `start force` the volume, the volume's capacity didn't change to the real size.
Here is the volume info:
[code]

[2017-05-17 04:06] yu-yang2 commented on #761
@MohamedAshiqrh  One more question, after node reboot, the bricks on the node are all `offline`, every time I need to start force the volumes. I googe it this is a bug, but so far did not find a solution.

[2017-05-17 07:09] MohamedAshiqrh commented on #761
@yu-yang2 Where is the real volume size you are referring to?

On your second comment: yeah on node reboot the glusterd is started which triggers brick start in that node. If you are seeing an issue can you tell me which container you are using and what version of gluster is in it?

[2017-05-17 07:20] MohamedAshiqrh commented on #728
if you did
# kubectl create -f heketi-storage.json

then you found an empty secret then it is a kubernetes bug. If you missed the above step, Heketi does create an empty secret in some cases which is expected as there is no secret or gluster volume to hold db.

[2017-05-17 08:01] yu-yang2 commented on #761
@MohamedAshiqrh The volume's real size:
[code]

Here is the size in the container:
[code]
---
I'm using docker `1.10.3` and gluster version is `3.10.1`
Docker images are all latest version:
[code]

[2017-05-18 12:46] yu-yang2 opened #763 "brick offline after node reboot"
If I reboot a node, the bricks on the node are all offline(except the heketidbstorage volumel). But when I `start force` the volume, the size of the volume is chaotic(sometimes is bigger than real size, sometimes the opposite).
I use the latest docker images:
[code]

[2017-05-18 15:00] yu-yang2 commented on #763
If all the node restart and start force the volumes, all data are get lose.

[2017-05-18 16:49] humblec commented on #757
@lpabon this issue can be closed.

[2017-05-18 16:51] humblec commented on #739
@lpabon This issue can be closed.

[2017-05-18 16:52] humblec commented on #738
@lpabon this issue can be closed.

[2017-05-18 16:54] humblec commented on #707
@andrewlove it will be `in` soon . I will provide an update as soon as its in :).

[2017-05-18 18:38] adityakali opened #764 "support for configuring glusterfs with ext4"
I was trying to bring up the heketi cluster on Kubernetes as described at https://github.com/gluster/gluster-kubernetes on GCE with a custom [Container-Optimized OS](https://cloud.google.com/container-optimized-os/) image. After working around a [known issue](https://github.com/gluster/gluster-kubernetes/issues/19) I managed to make progress until heketi tries to format & mount the volumes in glus

[2017-05-19 04:44] #739 closed

[2017-05-19 04:44] #738 closed

[2017-05-19 04:45] lpabon commented on #757
Thanks @humblec

[2017-05-19 04:45] #757 closed

[2017-05-19 11:53] obnoxxx commented on #711
I withdraw my concerns raised before.
Exposing the options to the outside still seems like a small layer violation, but it will allow us to quickly reach certain effects without further code changes.

[2017-05-22 15:50] bxrbxr commented on #732
+1 ... I am running in to a similar issue with deploying postgres using dynamic storage.

[2017-05-22 17:28] humblec commented on #732
@vasu1124 @bxrbxr  Is there any specifc importance for this userID ie `1000` ? Can you use `gidMin` and `gidMax` values in Storage class and create a claim?. This ensures that you got a `gid` set on the volume. Then you can use it in supplemental group in pod spec.

[2017-05-22 19:22] bxrbxr commented on #732
Thanks.  Here is bit more of the detailed context.

When the postgres container starts it tries to create some files and fails

The permissions of the mounted volume (from the postgres container) is

mounted on

I tried setting the gidMin & gidMax and the provisioning of the PV failed.

I tried setting supplementalGroups as follows:

"securityContext": {
                "supplementalGroups": [26]

[2017-05-23 07:02] andersla opened #768 "Add version to heketi/heketi:dev dockerimage"
Currently the latest-stable heketi/heketi docker image is outdated.
The heketi/heketi:dev image gets built much more often, and could be much more useful if there were some kind of versioning included in the tag (build date?). Currently if the dev image breaks there is no way to revert to a previous working dev image and the heketi deployment stays broken.
Or is there a way to pull a previous buil

[2017-05-24 01:51] zhaorendong opened #770 "The Heketi API has an error."
When I use the  Volume Information of Heketi API  (### Volume Information * **Method:** _GET_ * **Endpoint**:`/volume/{id}` * **Response HTTP Status Code**: 200 ), it response Invalid path or request.But I had a try "/volumes/{id}" that right.For example:

http://192.168.18.3:1144/volume/daafd4d4d37ed5f5596c313343042887"

Invalid path or request

http://192.168.18.3:1144/volumes/daafd4d4d37ed5f559

[2017-05-24 07:41] igoratencompass opened #771 "Unable to add device: dial tcp: too many colons in address"
Hi,

I'm not sure what colons in which address the error refers to but seems to me `heketi-cli` has issues with ipv6. The service listening:

[code]

On the same server when trying to load topology:

[code]

Where the host is:

[code]

My topology file looks like:

[code]

This is on:

[code]

Thanks

[2017-05-24 07:53] igoratencompass commented on #771
Sorry it was comment in the config file that I failed to update :-/

[2017-05-24 07:53] #771 closed

[2017-05-25 08:47] yu-yang2 commented on #635
@MohamedAshiqrh When I disable a device, I got an error but with no error messages. And then the device is offline, so I delete it, tell me device contains bricks.

[code]

[2017-05-25 12:35] MohamedAshiqrh commented on #635
@yu-yang2 What heketi version are you using?

[2017-05-26 01:15] yu-yang2 commented on #635
@MohamedAshiqrh my heketi version is v4.0.0

[2017-05-29 09:49] MohamedAshiqrh commented on #770
Thanks a lot fixed it.

https://github.com/heketi/heketi/wiki/API/4024612e8b1c39b2dea85f4ce85bb5133d8c6348

[2017-05-29 09:52] MohamedAshiqrh commented on #770
@lpabon @obnoxxx We can close this fixed the doc.

[2017-05-29 10:06] MohamedAshiqrh commented on #768
We will be releasing a new version soon which will include all the new features. For now yeah there is no other image except for dev which is updated and there is no way to revert back to the previous image. If you really want to revert back you can store the previous images with different tag in your local repository and then update so that you can have a backup.

[2017-05-30 12:43] nixpanic commented on #396
@MohamedAshiqrh could you have a look at this?

[2017-05-30 20:56] #770 closed

[2017-05-31 20:26] jarrpa commented on #750
@sgoodliff @MohamedAshiqrh Apologies for the long silence. I managed to push a build of heketi 4 to EPEL a few days ago, but it has a few more days of sitting in testing to go. If you can test out the RPMs and verify that they work, please give the build a +1 here: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-373830f419

[2017-06-01 14:32] sgoodliff commented on #750
Hi,

I just downloaded it and ran

rpm2cpio heketi-4.0.0-1.el7.x86_64.rpm | cpio -idmv

the service seems to be missing my fix for the ExecStart line.

/usr/lib/systemd/system/heketi.service

ExecStart=/usr/bin/heketi -config=/etc/heketi/heketi.json

[2017-06-01 14:58] jarrpa commented on #750
Oh no! I'm sorry, I thought I got that. :( I'll update it.

[2017-06-01 15:00] sgoodliff commented on #750
no worries, let me know when its ready and ill grab it and push it to a test environment.

thanks

[2017-06-01 15:05] jarrpa commented on #750
....well I'm dumb. I checked my code and the change is there for that version. But I also checked the related build in koji and found this:

https://koji.fedoraproject.org/koji/fileinfo?rpmID=9817343&filename=heketi.service

Which has a Digest that doesn't match the file in my repo but DOES match the old version of the file without the fix. So then I check the git history...

...and I forgot to co

[2017-06-01 15:17] jarrpa commented on #750
@sgoodliff Here you go: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-1bfdf9e102

[2017-06-02 09:11] metal3d commented on #696
I've got the same on OpenShit. After a pvc deleted, I've got this error repetitivaly:
[code]
But my glusterfs-2lslw (node1) is running and is "up":

[code]

[2017-06-03 05:29] adarshaj opened #773 "[IMP] Don't use docker image heketi/gluster"
The docker build for this image has been failing for over 11 months on the docker hub, hence the fixes in the current master is not really available on the docker image. The latest correct docker image is at `gluster/gluster-centos:latest` as noted in https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/glusterfs-daemonset.yaml

[2017-06-04 12:51] Hcindy opened #775 "usr sbin thin_check no such file or directory"
ubuntu 16.04
apt-get install lvm2
heketi-v4.0.0.linux.amd64.tar.gz  standalone installation
When I create a volume failed, the log showing "/usr/sbin/thin_check: no such file or directory"
I checked the directory of "/usr/sbin", there isn't "thin_check"
I haven't any knowledge about lvm
How can I solve the problem? thanks a lot

[2017-06-05 04:03] yu-yang2 commented on #763
fixed by add command to `/usr/sbin/gluster-setup.sh in gluster/gulster-centos images:
[code]

[2017-06-05 04:03] #763 closed

[2017-06-05 13:55] sgoodliff commented on #750
Hi,

I've deployed to a couple of test systems and it looks fine.

Thanks

[2017-06-06 07:55] jsvisa opened #776 "Delete a busy volume reduced to a conflict state"
Hi, I'm compiling the heketi binary with the master's branch.

[code]

I have a volume which was created by the default behavior like below:

[code]

Then I'm deleting the volume:

[code]

The response showing the deleting process was succeed.

But when I'm digging the log inside, show as below:

[code]

Actually, the volume in 192.168.99.21 is not deleted, but heketi failed as success.

[2017-06-12 15:25] lpabon opened #777 "Topology info could have a switch to output same schema as _load_"
It would be great to save to a file the topolgy information so that it can be easily edited and loaded back. This could be useful when adding new drives or nodes.

Source: https://kubernetes.slack.com/archives/C09QZFCE5/p1497264095219069

[2017-06-13 13:57] rajasaur commented on #775
Had the same problem, it seems ubuntu only recommends thin-provisioning-tools, and not require it.

Installing thin-provisioning-tools on all the nodes solves this problem for me.

[2017-06-13 14:01] #750 closed

[2017-06-14 08:26] #630 closed

[2017-06-14 21:26] #311 closed

[2017-06-14 21:36] #558 closed

[2017-06-15 03:25] lpabon commented on #776
@jsvisa Interesting. Can this be easily reproduced?

[2017-06-15 03:26] lpabon commented on #775
@rajasaur Thanks! @Hcindy please let me know if this solves your issue.

[2017-06-15 03:27] lpabon commented on #773
@adarshaj Do you mind sending a PR to fix that?

[2017-06-15 03:27] lpabon commented on #773
cc @jarrpa

[2017-06-15 03:28] lpabon commented on #768
The dev image is supposed to be bleeding edge so it may or may not work.  We will be releasing heketi/heketi:5 and updating heketi/heketi images as soon as Release 5 is done.

[2017-06-15 03:28] #768 closed

[2017-06-15 03:29] lpabon commented on #764
@obnoxxx Does glusterfs support ext4?

cc @heketi/dev

[2017-06-15 03:30] jsvisa commented on #776
@lpabon Thanks for your reply. It's easy to reproduce. Do it like below:

1. In anyone GlusterFS Node, hold some file descriptor(such as just open a file) inside the partition;
2. Do volume delete action;
3. Check the logs

[2017-06-15 03:32] lpabon commented on #759
@yu-yang2 No, Heketi is only a provisioner. Any volume information must be done using glusterfs commands on the volume

[2017-06-15 03:32] #759 closed

[2017-06-15 03:35] lpabon commented on #758
@shiroari Hi. I thought a lot about this when I first created it. I tried to keep it as simple as possible so I didn't use HTTPS (which is a pain to setup.. .certs etc). Since this is just a provisioner, and "supposed" to be in the same datacenter as the client (be it Kubernetes or something else), then I thought that the risk would be quite minor based on JWT. I hope this answers your question. I

[2017-06-15 03:35] #758 closed

[2017-06-15 03:37] lpabon commented on #756
@ae-dg Wow, that would be cool, but that doesn't happen normally. Instead new disks, nodes, or clusters are normally added to Heketi to increase capacity.

If you feel you would like to add this support, PRs are welcomed :-D

[2017-06-15 03:37] #756 closed

[2017-06-15 03:38] lpabon commented on #755
@MohamedAshiqrh Do you mind adding this or cleaning it up for Release 5?

[2017-06-15 03:39] lpabon commented on #777
Duplicate of #753

[2017-06-15 03:39] #777 closed

[2017-06-15 03:40] lpabon commented on #748
Duplicate of #755

[2017-06-15 03:40] #748 closed

[2017-06-15 07:05] shiroari commented on #758
@lpabon thank you

[2017-06-15 15:26] alfredo-quiroga opened #782 "Allow for smaller size BrickMinSize"
In apps/glusterfs/app_config.go, allow for a smaller minimum size. Either a new variable such as:

BrickMinSizeInMb

or

Allow for a ```float``` instead of ```int```

[code]

[2017-06-15 20:00] #746 closed

[2017-06-15 20:01] lpabon commented on #742
@kristiandrucker Sorry, no. GlusterFS does not support that unless you _force_ it to do it.

[2017-06-15 20:01] #742 closed

[2017-06-16 03:57] jsvisa opened #783 "Feature needed: expand a volume using lvm resize"
Hi, does it support the way LVM resizing, to expand a volume. If it doesn't, why not?

[2017-06-19 09:36] zhaorendong opened #786 "Error:Unable to find a GLusterFS pod on host 192.168.175.129 with a label key glusterfs-node"
When I add the secend Node by "heketi-cli -s http://localhost:8080 node add --zone=1 --cluster=XXXXX --management-host-name=192.168.175.129 --storage-host-name=192.168.175.129",the Heketi response "Error:Unable to find a GLusterFS pod on host 192.168.175.129 with a label key glusterfs-node". Why?

[2017-06-20 03:10] lpabon commented on #755
See https://github.com/heketi/heketi/pull/762

[2017-06-20 03:10] #755 closed

[2017-06-20 03:16] #455 closed

[2017-06-20 03:17] #161 closed

[2017-06-20 03:18] lpabon commented on #627
Closed by #658

[2017-06-20 03:18] #627 closed

[2017-06-20 03:20] #345 closed

[2017-06-20 03:20] #340 closed

[2017-06-20 03:22] #375 closed

[2017-06-20 03:26] lpabon commented on #786
The management host name _must_ be the kubernetes node name, and the storage-host-name must be the IP of that node. See: https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md#1-create-a-topology-file

[2017-06-20 03:26] #786 closed

[2017-06-20 03:26] lpabon commented on #786
I agree that the documentation should be changed :)

[2017-06-20 03:27] lpabon commented on #782
Hi @alfredo-quiroga , is there a reason for this? We like to keep things as simple as possible for the average use case. Is creating volumes less than 1GB really necessary?

[2017-06-20 03:29] lpabon commented on #783
@jsvisa  It expands the volume by adding bricks. I'm not 100% percent sure if increasing a brick size while the volume is running (lvm resize then xfs grow) would be reliable. Does that answer your question?

[2017-06-20 03:30] lpabon commented on #775
Closing the issue, but please feel free to re-open if it doesn't fix your issue.

[2017-06-20 03:30] #775 closed

[2017-06-20 03:36] jsvisa commented on #783
@lpabon Thanks for your reply. [As the document said](https://wiki.archlinux.org/index.php/LVM#Growing)

In my test case, the LVM enlarging on XFS always succeed.

[2017-06-20 15:25] #341 closed

[2017-06-20 15:28] lpabon commented on #783
@jsvisa Oh yeah, I agree, but that is not what I meant. I mean, can GlusterFS allow a brick to grow. @heketi/dev Do you guys know?

[2017-06-20 19:28] alfredo-quiroga commented on #782
Hi @lpabon appreciate the response.

Yes, We have customers asking us for smaller sizes.

Thank you in advance.

Alfredo

[2017-06-21 12:15] MohamedAshiqrh opened #789 "Cluster Delete throwing error from ring"
[code]

Basically clusterId was not added to ring allocator as it did not have devices. So this check shouldn't throw errors.

[2017-06-21 16:47] fcami commented on #764
Quoting http://lists.gluster.org/pipermail/gluster-users/2014-March/016534.html "If at all possible, use xfs instead of ext4. This is an official recommendation.".
See also http://lists.gluster.org/pipermail/gluster-users.old/2014-November/019436.html

The upstream QSG uses XFS: http://gluster.readthedocs.io/en/latest/Quick-Start-Guide/Quickstart/ - the official documentation recommends XFS as wel

[2017-06-21 16:52] adityakali commented on #764
If ext4 can be supported as an option (not necessarily default), it will be great as well.

[2017-06-21 20:24] lpabon commented on #764
Hmm, we can take a look, but I am concerned that there is no documentation on what the correct settings are for ext4. Which would mean that since Heketi created those FSs, it would be responsible.  Can someone provide the correct settings for the file system? See the [XFS ones](https://github.com/heketi/heketi/blob/master/executors/sshexec/brick.go#L78).

[2017-06-21 20:35] fcami commented on #764
There is no recommended setting in the current documentation. I went back to 2012 using the Internet Archive to browse older docs that are not available online anymore and even these were XFS-only. I don't think it'd be a good idea to even provide an option in heketi to use ext4 provided Gluster upstream does not recommend it and obviously doesn't test anymore.

@adityakali is there any reason you

[2017-06-22 23:06] tanner-bruce commented on #783
@lpabon it looks like gdeploy does it: https://github.com/gluster-deploy/gdeploy/blob/master/docs/source/features/lvm.rst

[2017-06-25 07:08] pashok2398 opened #794 "Kubernetes missing ServiceAccount"
The deployment wont start any pods unless creating SA
kuberctl create sa heketi-service-account

[2017-06-26 05:29] pashok2398 commented on #698
Hi, facing the same error:
Error: Cannot delete thin pool tp_9cd39e2df0df6d227e3ce5a8117bb2f4 on dev-minion-3.openstack.domain.com because it is used by [-1] snapshot(s) or cloned volume(s).
Running on k8s using the deployment script, everything looks working fine except this.
The machines are vm's (3) on openstack with additional volume.

[2017-06-26 05:33] #794 closed

[2017-06-26 05:35] pashok2398 opened #796 "Cannot delete volume"
Hi, trying to delete volume created with pvc

[code]
Running on k8s using the deployment script, everything looks working fine except this.
The machines are vm's (3) on openstack with additional volume.
the volume created with pvc

Log from heketi pod:
[code]

[2017-06-26 08:49] jsvisa commented on #796
@pashok2398 Could you please provide the Heketi version?

[2017-06-26 10:06] pashok2398 commented on #796
@jsvisa heketi-cli v4.0.0

[2017-06-26 10:22] jsvisa commented on #796
@pashok2398 take care of those logs:

[code]

Seems the volume id `e06c3628af827c79eeb6cf03b8d5402b` with LV `tp_9cd39e2df0df6d227e3ce5a8117bb2f4` doesn't exists on node `ev-minion-3.openstack.domain.com`

[2017-06-26 10:26] pashok2398 commented on #796
@jsvisa Yep, you are right.
But how can i clean-up the heketi db, as i still see it in volume list?

[2017-06-26 10:28] jsvisa commented on #796
@pashok2398 Maybe rm the heketi db and rebuild the topology is the simple and fast manner 😃

[2017-06-26 10:29] pashok2398 commented on #796
@jsvisa How about existing volumes?

[2017-06-26 10:37] jsvisa commented on #796
@pashok2398  Sorry, the existing volumes disappearing. By now, seems there doesn't exist `rm -rf` manner. You can first try to delete the volume manual in `ev-minion-3.openstack.domain.com`

[2017-06-27 15:42] Tedezed opened #798 "Heketi in GCE"
Hi! I'm trying to create a pool with Kubernetes nodes for storage, in the first case  use **con** but I get the following error: https://bugs.chromium.org/p/chromium/issues/detail?id=715009
[code]
I thought of the second case use **container-vm**, which is Debian OS machine but I have the following errors:

`kubectl get pod`
[code]
[code]
`# cat /var/log/glusterfs_bkp/glusterd.log`
[code]

THX!

[2017-06-27 18:39] ekuric opened #799 "how to use pprof to profile heketi binaries"
Are there instructions how to profile heketi binaries with pprof? As far as I can see in heketi code pprof is not included

[2017-06-30 09:58] zhaorendong commented on #507
What is the detail solution for the issue?

[2017-06-30 13:38] kristvanbesien opened #800 "Heketi/Gluster on openshift. Volume create fails with unhelpful error message..."
I am stepping through the manual steps for setting up a "Container Native Storage" gluster cluster on OCP 3.5. (This to figure out why cns-deploy doesn't work...)

Creating the gluster and heketi pods works. And loading the topology afterwards is successfull:

[code]

I checked inside the pods, and the pvs and vgs have been created.

Then just to test, I tried to create a volume:

[code]

And this

[2017-06-30 22:53] tanner-bruce commented on #705
@ngpestelos can this be closed?

[2017-07-02 01:17] kvc-code commented on #798
interesting... I had the same issues: I abandoned `COS` and went back to `container-vm` and then got the same `KillContainerError` you got. I removed the mount of `/sys/fs/cgroup` as a `hostPath`, rebooted my `contain-vm` nodes, and made the error go away -- at least I can now start and stop pods on `container-vm` without things locking up.

I have other problems but at least I am past the two you

[2017-07-02 19:25] pashok2398 opened #801 "Heketi pod wont start"
After last week datacenter shutdown maintenance in our site all the machines goes down.
When everything came back the heketi pod can not start:
[code]
[code]
I tried to exec to one of the DaemonSets pod and run gluster to view the volume and it looks fine:
[code]

[2017-07-02 20:16] #796 closed

[2017-07-03 14:49] Hcindy commented on #775
@rajasaur Thanks!
@lpabon I solves some problems:
vmware10 install ubuntu 16.04, add 2 disk, apt-get install thin-provisioning-tools lvm2 xfsprogs
heketi-v4.0.0.linux.amd64.tar.gz standalone installation
Then using heketi create clusters nodes and devices. When I create volume, the console showing something about wipe offset 1080 y/n and choosing n default. I must execute pvcreate /dev/sdb /dev/sd

[2017-07-04 08:36] hakanisaksson commented on #756
This feature is very much need for production clusters.

[2017-07-04 10:50] fascinatedcow commented on #698
I also have this problem, but I have not resized my cluster. I do have something slightly weird though; I'm running with `volumetype: disperse:2:1` See https://github.com/heketi/heketi/pull/787 for more information about that.

[2017-07-04 15:09] raghavendra-talur commented on #696
This check was introduced in heketi to handle a glusterd bug that existed where deleting a volume when one of the nodes is down would recreate the volume when the node comes back. A single brick durability=none volume is tested much in heketi.

I will get back to you on this if there is a workaround. Else you will have to wait for an update.

[2017-07-04 15:11] raghavendra-talur commented on #776
@jsvisa do you mean to say that volume is deleted but bricks are not cleaned up? Or is it that you see the volume in volume list?

[2017-07-05 01:23] jsvisa commented on #776
@raghavendra-talur Thanks for your reply. In Heketi's workflow:

Heketi's volume -> Gluster's volume -> brick's lv

while the volume is deleting, firstly stop and delete the volume in gluster's side, then destroy the brick along with the lv(ignore the error), but the lv destroy maybe failed, after that, the volume in Heketi or Gluster's sides are disappeared, but the lv is not released

[2017-07-11 02:17] john-deng opened #804 "Unable to open database. Retrying using read only mode"
@lpabon I deployed heketi on openshift, it works for several weeks, but it unable to  open database now, how could I solve this issue? where do I start to find the root cause? any advice?

Here is the log,
[code]

[2017-07-11 03:02] lpabon commented on #804
@john-deng Sounds like the volume where the database is saved is running with only one replica out of three. Check the gluster volume.

[2017-07-11 07:07] john-deng commented on #804
@lpabon Thank you for the quick reply! just found the solution from [here](https://github.com/gluster/gluster-kubernetes/issues/257) by @saidimu commented on Jun 2, this issue appeared from time to time, do you have any idea to solve it permanently?

[2017-07-13 17:00] justicel opened #806 "Kubernetes pod/PVC cleanup leads to pod stuck in termination"
It appears that at least the latest heketi dev release, when paired with gluster-kubernetes, causes issues with pods becoming stuck in termination status. If you delete a PVC and pod pairing (say you have both in a yaml file) the volume appears to be deleted by heketi immediately and this causes the back-end node that the pod is attached to, to lose access to the IP based gluster mount.

This mean

[2017-07-13 23:17] lpabon commented on #806
@jarrpa @MohamedAshiqrh Could you guys take a look at this?

[2017-07-13 23:20] lpabon commented on #804
@john-deng I think backing up to a secret will solve this issue. I will take a note to add documentation on how to do this. Set the environment variable HEKETI_BACKUP_DB_TO_KUBE_SECRET to "y" and make sure you are running the latest dev build.

[2017-07-13 23:20] lpabon commented on #801
@raghavendra-talur Do you know why this is happening?

[2017-07-13 23:22] lpabon commented on #800
@kristvanbesien  Is RBAC on? The Heketi pod may not have permission to execute the command. Would you mind also attaching the logs from the heketi pod?

[2017-07-13 23:23] lpabon commented on #798
I agree with @kvc-code , you may want to avoid COS unless someone is at least successful. I have tried it without issues on CoreOS Container Linux, and all Red Hat flavors.

[2017-07-13 23:25] lpabon commented on #789
:scream: Ahh! that is not good. Do you know a soultion?

[2017-07-14 01:34] lpabon commented on #783
@jsvisa Why would you want to do this? Sorry, but I don't understand the use case. Could you provide one?

[2017-07-14 01:37] jsvisa commented on #783
@lpabon Thanks for your replay.

Firstly, one brick stands for one system process, if a gluster node has multiple processes, leads to some performance issues;
Secondly, when another brick added into one volume, data migrating happened, this also lead to some performance issue.

[2017-07-14 01:55] lpabon commented on #782
@alfredo-quiroga There is a work to have "block" on a gluster for Kubernetes. See: https://github.com/gluster/gluster-kubernetes/pull/268 . I think this may help instead.

[2017-07-14 02:45] kvc-code commented on #798
FWIW, I've since been quite successful with GlusterFS + Heketi on GKE using `container_vm` with change I described above. The only other major problem I encountered turned out to be [Storage Plugins cannot resolve DNS name for service](https://github.com/kubernetes/kubernetes/issues/42306).
I ended up making the `heketi` service a `nodePort` and use the IP address of one of the GlusterFS `DaemonSe

[2017-07-14 07:57] MohamedAshiqrh commented on #806
@justicel Yeah This is possible from the gluster mount point of view. The gluster-plugin in kube umount's when the pod is down which is using the pvc. gluster-provisioner deletes the pvc dynamically on request(which is delete's pv, endpoints, service, gluster volume and the lv's associated with it.). If the pv is gone then the gluster-plugin doesn't have data to umount the volume.

I understand th

[2017-07-14 07:59] MohamedAshiqrh commented on #801
@pashok2398 Looks like the all the gluster brick process are down can you start the volume and then retry the heketi pod?

[2017-07-14 12:13] justicel commented on #806
Okay, got it. Where should I open a bug report then? With Gluster core?
This essentially makes pod upgrades also unusable as it has the same
behavior.

On Jul 14, 2017 12:57 AM, "Mohamed Ashiq" <notifications@github.com> wrote:

[2017-07-15 08:36] pashok2398 commented on #801
Hi,
I recreate the endpoint for the nodes manually and its back to normal.
Thank you for the support.

[2017-07-15 08:36] #801 closed

[2017-07-15 10:36] Lazarus404 opened #807 "No deploy-heketi-deployment.json"
I'm following the Kubernetes integration docs, but have found there is no `deploy-heketi-deployment.json` file.  Where might I get it?  Is the integration docs out of date?

Thanks

[2017-07-17 10:03] LarsKumbier opened #808 "docker image heketi/gluster not build since May(!)"
The [heketi/gluster-image](https://hub.docker.com/r/heketi/gluster/) has not been built since [May 2017](https://hub.docker.com/r/heketi/gluster/builds/bcls8kwft4zjgcrdmntg6ba/) due to an error on systemctl

[2017-07-17 10:48] LarsKumbier commented on #808
So, I investigated a bit. The problem is the mounting of `/dev` as a volume, which breaks the lookup of any binary. Removing `/dev` from the volumes list makes the problem go away, but I'll have to check if everything still runs.

[2017-07-17 18:23] tanner-bruce commented on #783
@lpabon we also have a separate use case:

We have cluster A and cluster B. A has a volume that geo-replicates to a volume on B. Every week, we take a snapshot of B. We then clone that snapshot into multiple volumes (after deleting the old ones) to provide multiple working environments which take advantage of thin pools so we don't need to make multiple copies of the 10TB volume.

Our issue arose

[2017-07-17 18:44] raghavendra-talur commented on #808
the command that failed is RUN systemctl disable nfs-server.service

Possibly the latest centos images(after may 2017) don't have a nfs-server unit file in them.

[2017-07-17 18:45] raghavendra-talur commented on #807
Are you looking for this file? https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/deploy-heketi-deployment.yaml

[2017-07-17 18:47] raghavendra-talur commented on #800
@kristvanbesien also, this error appears if the Gluster service is down for some reason. Is gluster pod up and does it Gluster running?

[2017-07-17 18:57] Lazarus404 commented on #807
I thought that, but was following a blog post and the getting started guide that both said the file should already be in extras/kubernetes in this repo, so wasn't certain.

[2017-07-18 07:15] LarsKumbier commented on #808
The failure happens because systemctl is not found anymore - as is any
binary after mounting the /dev volume. Try by running an echo moo after the
volume command, it'll fail as well.

von mobil gesendet

Am 17.07.2017 8:44 nachm. schrieb "Raghavendra Talur" <
notifications@github.com>:

[2017-07-18 13:08] #635 closed

[2017-07-18 13:17] raghavendra-talur opened #809 "when device is removed then snapshots are lost"
When a device is removed , we migrate all the bricks using replace-brick function of gluster. But we don't check for existing snapshots on the thin pool. We should either fail the remove op or make it clear that snapshots are going to be lost.

[2017-07-19 03:56] #705 closed

[2017-07-19 10:11] Scukerman opened #810 "heketi fails to create logical volume on deploy"
When I'm trying to deploy [gluster/gluster-kubernetes](https://github.com/gluster/gluster-kubernetes), heketi fails to create logical volume.
And in the log I see this:
[code]
Full log can be found [here](https://pastebin.com/raw/RP8BcsD2).

Initially, I wrote an issue to the gluster-kubernetes repo: https://github.com/gluster/gluster-kubernetes/issues/279

[2017-07-21 08:50] kristvanbesien commented on #800
I found out that the manual (on the RH site) omitted an important command that you need to do. (has been corrected now it appears.

oc adm policy add-scc-to-user privileged -z heketi-service-account
oc policy add-role-to-user edit -z heketi-service-account

[2017-07-24 05:09] lpabon opened #811 "Issue installing glide when creating docker container"
[code]

[2017-07-24 05:31] #811 closed

[2017-07-24 11:00] mike-trewartha commented on #798
Container-vm is deprecated, and from September 2017 will no longer be patched/supported (https://cloud.google.com/compute/docs/containers/container_vms). I've heard that there is an Ubuntu based GKE machine type in development and will be available at some point in the future (no ETA). Until then you may have to use GCE to run GlusterFS storage. I wrote a little guide on this here: https://github.

[2017-07-24 18:59] th3penguinwhisperer opened #817 "glusterfs: create volume err: error creating volume ."
Hi,

I'm trying to use dynamic provisioning with openshift and glusterfs however my claims stay in state pending. I used the gk-deploy script and I'm using Openshift Origin 1.5.1.
It seems the gluster pods are running and the heketi pod as well. The endpoints, ... are all available.

The gluster cluster is put in the default namespace.

[code]

As you see I don't get an empty error message from he

[2017-07-24 19:37] th3penguinwhisperer commented on #817
I seem to get this error when I use the http://xyz without a trailing slash in the storageclass. I could capture it with tcpdump. Not sure if this is actually my problem or just because I've been fiddling so much.

[code]

Error calling v.allocBricksInCluster: database is in read-only mode

Error: Error calling v.allocBricksInCluster: database is in read-only mode

[2017-07-24 19:41] th3penguinwhisperer commented on #817
So I can recreate the same error empty error message:

[root@openshift-master ~]# heketi-cli --json=true --user admin --secret mypassword -s http://heketi-default.cloud.xyz volume create --size=1 --persistent-volume-file=pv001.json
Error: Error calling v.allocBricksInCluster: database is in read-only mode
[root@openshift-master ~]# heketi-cli --json=true --user admin --secret mypassword -s http://

[2017-07-25 22:02] th3penguinwhisperer commented on #817
So my question now is if this could be an RFE so that the error message is still shown even if a trailing slash is used for resturl (which seems to be in most of the documentation/blogs/...).

Another thing would be: what's a good way to prevent this from happening and perhaps have a small delay or retrying instead of immediately opening read-only.

[2017-07-25 22:20] huguesalary commented on #807
Same here. I've been following the instructions here https://github.com/heketi/heketi/wiki/Kubernetes-Integration and they mention the  `deploy-heketi-deployment.yaml` file, which indeed does not exist in `extras/`. Although the file does exist at the location @raghavendra-talur pointed out, it'd be great to update the wiki and/or the `extras/` folder.

There's also conflicting information between

[2017-07-26 14:45] MohamedAshiqrh opened #818 "Node add fails if the first node is down or glusterd is not running"

[2017-07-26 16:59] lpabon commented on #798
@Tedezed Is this still an issue?

[2017-07-26 23:46] kvc-code commented on #798
not @Tedezed but it seems to me that the fact that we're having to remove the mount of `/sys/fs/cgroup` from the DaemonSet spec to make things work on GKE seems point to an underlying issue.

[2017-07-27 00:42] lpabon commented on #798
@humblec Do you mind checking as to why that would be?

[2017-07-27 05:29] humblec commented on #798
Sure @lpabon. Checking on this

[2017-07-27 07:30] Tedezed commented on #798
I am currently using GlusterFS externally to Kubernetes, try using Heketi in two ways and I did not get it to work.

1. Using the Kubernetes nodes as the GlusterFS nodes.
2. Mount Heketi only to control the volumes with an external cluster od GlusterFS.

I had the following error (Kubernetes 1.6.6): `Server is operating at an op-version which is not supported`

Fix it using:
[code]

[2017-07-27 08:30] humblec commented on #798
@Tedezed Can you fetch the glusterfs  client and server versions  ?

[2017-07-27 08:58] Tedezed commented on #798
@humblec with the above configuration works perfect, the versions are:
* Server: 3.10.3
* Client: 3.6.9

Based on: https://github.com/GoogleCloudPlatform/compute-ansible-gluster

[2017-07-27 09:05] humblec commented on #798
@Tedezed ideally its  good practice to update both client and server. The opversion is the compatibility bit between client and server.  The client looks to be old compared to server here and causing the opversion unsupported error.

[2017-07-27 09:11] Tedezed commented on #798
@humblec The problem of using container-vm, I will change everything to con. But I do not know if he keeps running in con pool.

[2017-07-27 09:13] humblec commented on #798
Can we have an issue/RFE opened against container-vm to upgrade client packages ?

[2017-07-28 03:57] #522 closed

[2017-07-28 03:57] #818 closed

[2017-07-31 21:17] obnoxxx commented on #800
@kristvanbesien thanks for your feed-back! Does the last comment mean that it's working for you now?
Can we close the issue?

[2017-07-31 22:27] obnoxxx commented on #782
@alfredo-quiroga Thanks for the request. We are in fact planning to allow for smaller brick, and volume sizes in heketi. The GB unit is only used on the outer layer (cli/api). Internally, all sizes are converted to KB. Several people have requested support for smaller sizes. While this seems weird at disks in the terabyte size, it becomes much more plausible when you're using e.g. an all-flash SAN

[2017-08-01 00:39] obnoxxx commented on #743
@zhaorendong Heketi has a certain minimum brick size configured. The lower limit (and default value) for this is currently 1GB.

It seems heketi had to split down to brick sizes smaller than 1GB.

What is the size of your disk devices?

[2017-08-01 00:56] obnoxxx commented on #747
The reason for this is that heketi breaks down the size by division by two:

* It will first look for 2.4 TiB (2458GiB) disks ==> not found
* then it will look for (2.4)/2 TiB ==  1229 GiB disks ==> not found
* then it will look for (2.4)(2*2) TiB == 614.5 GiB disks ==> found

If we were doing division by n , n+1 .... instead of powers of 2, then you would have seen bricks of size 2.4 / 3 TiB == 8

[2017-08-01 00:56] #747 closed

[2017-08-01 01:42] zhaorendong commented on #747
Thank you! But if the size of device is 837,then the brick used 614Gi and free 220Gi, and a total of 5 disks were used.So there are 5 bricks free 220Gi. At this time,I can not create PVC with 1100Gi.

[2017-08-01 01:51] zhaorendong commented on #743
There are 3 nodes and 6 disk devices per node, and the size of disk device is 837Gi.

[2017-08-01 08:07] obnoxxx commented on #747
From the above it looks like 4 disks were used (not 5), which confirms my explanation. I.e. you have 4 bricks of 614GiB used on each node. I.e. each node now has 2 unused disks of 837 GiB (sdc and sde above) and 4 disk with 220GiB free each (sdd, sdb, sdf, sdg).

So a create of 1100GiB should succeed with 2 replica sets of 550 GiB each (consuming sdc and sde above).
Did you try this? If yes, and i

[2017-08-01 09:15] zhaorendong commented on #747
Yes，I have 4 bricks of 614GiB used on each node and each node now has 2 unused disks of 837 GiB (sdc and sde above) and 4 disk with 220GiB free each (sdd, sdb, sdf, sdg), so there are (827*2+220*4=2554)GiB that I can use, right? But I can not create PVC with 2554GiB .

[2017-08-01 09:47] obnoxxx commented on #747
This is due to the fact that we always need to over-allocate the bricks a little more than the pure space requested: There is some additional space needed for metadata, and (if enabled) a certain percentage for snapshots. So you will always need at least some 0.5% more space than your calculation yields.

So e.g. requesting 2500 GiB instead 2554 should theoretically work (unless you request snapsh

[2017-08-01 10:23] zhaorendong commented on #747
OK! Thank you!

[2017-08-01 19:16] alfredo-quiroga commented on #782
Thank you, appreciate it.

[2017-08-02 13:40] roffe opened #820 "update documentation for kubernetes"
The documentation is faulty:

https://github.com/heketi/heketi/wiki/Kubernetes-Integration

deploy-heketi-deployment.json  <-- Where does this file come from, it's not in your repo.

[2017-08-02 13:46] roffe commented on #820
i used heketi-deployment.json in the first step as the file you are pointing to is missing.

[2017-08-02 13:47] roffe opened #821 "Lost cluster after node reboot"
So all of a sudden after a node reboot the heketi service has forgotten my cluster

I followed your instructions on https://github.com/heketi/heketi/wiki/Kubernetes-Integratio
as close as possible but had to improvise some due to lacking files referenced in your documentation. (https://github.com/heketi/heketi/issues/820)

After the node reboot where the heketi servie was running i am now getting

[2017-08-02 13:50] roffe commented on #820
so it turns out i found the file in the heketi-cli release package and not a github repo as you state in the documentation.

also it's in a openshift folder and not kubernetes.

[2017-08-02 22:20] shadycuz opened #822 "[BUG] Hyperconverged: Loading topology tries to setup same pod for each node"
from container log
[code]
from container service
[code]

all my nodes are identical

[2017-08-02 23:21] obnoxxx opened #823 "typo in manpage of heketi-cli"
The manpage of heketi-cli lists:

[code]

But in fact, the correct option is `--clusters` (plural).

[2017-08-03 07:24] #823 closed

[2017-08-03 10:01] MohamedAshiqrh commented on #636
This issue is fixed. @obnoxxx @lpabon can we close this?

[2017-08-03 10:02] MohamedAshiqrh opened #825 "any Trusted Storage Pool node can give the volfile."
As any Trusted Storage Pool node can give the volfile why should we just give the nodes on which the volume resides?

Instead we can give all the node in the specific cluster.

[2017-08-03 10:22] obnoxxx commented on #636
@MohamedAshiqrh right. Closing

@portante , if you feel it's not fixed, please re-open.

[2017-08-03 10:22] #636 closed

[2017-08-03 15:33] erinboyd commented on #822
Did you run the install more than once? Can you please describe how you set this up?

[2017-08-03 15:46] shadycuz commented on #822
@erinboyd I followed this [guide](http://blog.lwolf.org/post/how-i-deployed-glusterfs-cluster-to-kubernetes/). I ran the first step, and got my daemon set up and running.

The issue started with `heketi-cli topology load --json=topology-sample.json` It found the first node, and started to get it ready, it mentioned finding an ext4 on the /dev/ddd and asked me if I wanted to overwrite it [yes/no].

[2017-08-03 16:34] robdewit commented on #652
@x1957 I suppose this was a misconfig somewhere? I'm running into the same errors. Could you clarify what was wrong?

[2017-08-04 15:08] erinboyd commented on #822
@shadycuz so from the guide it appears you are executing everything manually?
So to start over you need to destroy any heketi pods, destroy any existing GlusterFS volumes with the gluster CLI, remove all peers with the gluster CLI on all nodes, wipe all storage devices. If you start with fresh blocks (/dev/xxx) and then use this fancy script, you will have no issues. Did you know there is a script

[2017-08-04 15:09] erinboyd commented on #822
https://github.com/gluster/gluster-kubernetes for the doc

[2017-08-04 15:13] shadycuz commented on #822
@erinboyd I will try it out tonight hopefully. I noticed some of the file name's and locations had changed but the word from the community was not to use the documentation and to follow that guide. I didn't do anything with the glusterCLI, only heketi, I will delete all my pods and dameonsets, wipe the devices and then try the script =)

[2017-08-04 23:21] dmesser opened #827 "heketi-cli topology load returns with exit code 0 despite failures"
[code]

The expectation is to have the topology load subcommand have heketi-cli exit with a non-zero exit code when there are failures in processing the topology.

[2017-08-05 13:01] shadycuz commented on #822
This is morning I wiped my disks, 2 nodes had been touched by gluster, the third still had the ext4.

[code]

Cluster is ready...

[code]

Topology is ready

[code]

and heketi-cli is ready
[code]

didn't clean the cluster as well as I thought ...
[code]

running a second time seemed to work...
[code]

But as described above in my first failed attempt at glusterFS, the gluster pods on node01, and

[2017-08-05 22:20] lpabon opened #829 "tests: Fix error with TestHeketiVolumeCreateWithOptions"
#828 needed to adjust the test to remove this error:

[code]
Creating an issue to see if we want to fix TestHeketiVolumeCreateWithOptions

[2017-08-05 22:22] lpabon opened #830 "tests: Fix error with TestHeketiCreateVolumeWithGid"
#828 Skipped the test due to issues running it. See error:

https://github.com/heketi/heketi/pull/828#issuecomment-320447436

[2017-08-06 01:04] shadycuz commented on #822
@erinboyd So gluster really messed my nodes up somehow... so I made 3 more to test with. Identical nodes. And I re-ran the deploy with an updated topology...

[code]

so I look at them? and they appear to be the same as Node01...

[code]

[2017-08-06 01:07] shadycuz commented on #822
@erinboyd This appears to be the same issue https://github.com/gluster/gluster-kubernetes/issues/215

[2017-08-06 01:12] shadycuz commented on #822
And of course now the one pod is restarting over and over again, and nothing can be done. Deleteing and redeploying will still fail to bring up a gluster pod on that node and to top it off if I reboot the node I will be locked out of SSH becuase that's what happened to me earlier when gluster did this.

![image](https://user-images.githubusercontent.com/17090999/28999788-b1c305e6-7a22-11e7-94c3-4d

[2017-08-06 01:13] shadycuz commented on #822
[code]

[2017-08-06 01:19] shadycuz commented on #822
So the issue is the same as described in the other issue I linked to. When it goes to do the topology file it sets up node01
[code]
The problem is when it goes to set up node02 it uses the same pod that node01 is using. So the command fails.. and then the pod starts rebooting over and over again. For some reason the host is now taineted and you can not run a gluster pod on it anymore.

[2017-08-06 13:39] shadycuz commented on #822
I'm not sure who this issue is with... heketi, gluster? Who ever set up the gluster containers? I'm not sure but my gut sats Heketi because it's targeting the wrong pods for the wrong nodes. Created an issue with the repo I used for the deployment script. https://github.com/gluster/gluster-kubernetes/issues/286

[2017-08-07 08:40] roffe commented on #820
New try today. This time even more fail:

[code]

[code]

[2017-08-07 08:41] roffe commented on #820
the glusterf daemonset is installed from glusterfs-daemonset.json provided by heketi

Please update your docs page with a big warning that HEKETI is currently broken and cannot be deployed on kubernetes to prevent more people from wastng their time until your docs examples are up to speed and working again

[2017-08-08 10:20] ursuad commented on #699
Any updates on this?

[2017-08-09 21:41] #821 closed

[2017-08-10 07:02] amolsh commented on #807
@raghavendra-talur  As you said , i used https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/deploy-heketi-deployment.yaml

But, it did not create required pod. As per documentation, it creates one running pod.

Looks like documentation is all messy. Any idea where can I find its proper installation steps

[2017-08-10 08:31] prapdm commented on #807
+1

[2017-08-12 00:08] #825 closed

[2017-08-12 14:28] wileeam commented on #820
@roffe Maybe you want to be more explicit in your problem and if the documentation is that faulty a PR can help you and everyone else.
I am actually running GlusterFS+Heketi in a cluster of two nodes (and not three) following mostly the  documentation available here and debugging the errors on the way (because you are right that the documentation is not exact).
I'll be happy to contribute with a P

[2017-08-13 20:15] alikhajeh1 commented on #711
I've seen https://github.com/heketi/heketi/issues/711 and just wondering how (or if) you guys see Heketi integrating into Openshift/K8 to allow users to define the volume options via labels on PVCs. I'm not sure if cluster admins would want users to edit all options, so maybe they can define a whitelist of options that can be changed by users.

Our use case is for ElasticSearch, which requires `cl

[2017-08-13 20:21] alikhajeh1 commented on #711
hmm seems like cluster admins can define the volume options using StorageClasses and users just pick the class, right?
https://github.com/kubernetes/kubernetes/commit/ebf24c14a916adebc37023be69f112d2c97759a9

[2017-08-14 05:02] humblec commented on #711
@alikhajeh1 Correct. More information is available here http://www.humblec.com/glusterfs-dynamic-provisioner-set-glusterfs-volume-options-via-storageclass-parameter/

[2017-08-14 05:04] humblec commented on #711
Closing this issue as now heketi allows volume options in the create request.!

[2017-08-14 05:04] #711 closed

[2017-08-15 03:08] lpabon commented on #808
@LarsKumbier I should remove that image. You should use the official gluster Docker image.

[2017-08-15 07:49] obnoxxx opened #835 "debt: create functional test for heal check before replace brick"
As requested in PR #718 which has been merged as #834, we need a functional test for the functionality that a replace brick should be refused when self-heal is in progress.

[2017-08-15 09:52] LarsKumbier commented on #808
please do - the default image setting should also be changed in the documentation and adjacent scripts.

[2017-08-15 14:27] barnzdan opened #837 "Error: Id not found when running volume create"
**heketi-cli version**:  v4.0.0
**Heketi v4.0.0-8-g9372c22-release-4

**Gluster RPMs on heketi node**:
python2-gluster-3.10.1-1.el7.x86_64
glusterfs-geo-replication-3.10.1-1.el7.x86_64
centos-release-gluster310-1.0-1.el7.centos.noarch
glusterfs-3.10.1-1.el7.x86_64
glusterfs-api-3.10.1-1.el7.x86_64
glusterfs-server-3.10.1-1.el7.x86_64
glusterfs-libs-3.10.1-1.el7.x86_64
glusterfs-client-xlators-3.10

[2017-08-16 01:43] #830 closed

[2017-08-16 07:07] obnoxxx commented on #715
Ah, I was wondering what these errors are all about... ;-)

[2017-08-16 08:29] obnoxxx commented on #715
Ok, I looked at the code. The error logging is coming from the actual ssh utility code. That means the caller currently does not have a choice to log or not log an error. In our case, the intention of the ssh executor is to check a condition. The error is one of the possible valid outcomes.

Hence in order to facilitate this use case, we could either make the logging in SshExec.ConnectAndExec() al

[2017-08-16 15:56] barnzdan commented on #837
I see this in the logs of one out of 3 of the heketi pods:

[code]

[2017-08-17 03:17] 4admin2root commented on #837
when using pvc in kubernetes, I get errors as follow:
E0817 02:58:59.891612       1 glusterfs.go:754] glusterfs: error creating volume Error calling v.allocBricksInCluster: Id not found
E0817 02:58:59.891638       1 glusterfs.go:684] glusterfs: create volume err: error creating volume Error calling v.allocBricksInCluster: Id not found.

[2017-08-17 23:57] obnoxxx commented on #829
The point of that patch is to test *some* gluster volume options. The original test used an nl-cache options, which was added to gluster very recently. This choice was probably a little bit arbitrary. I don't yet know why, but now this nl-cache option does not seem to exist any more in the test env. (Are different images used now?)

So by removing the setting and check of the nl-cache option, as y

[2017-08-18 17:38] barnzdan commented on #837
I was able to resolve by scaling the replica count down to 1, then removing the last pod and letting it rebuild. This effectively removed the lock that was held on heketi.db. Up and running again. @4admin2root maybe try the same?

[2017-08-19 05:23] joejulian commented on #599
As of kubernetes 1.6, the suggested store is configmap instead of going directly to etcd3.

[2017-08-19 09:14] kongyibjcn commented on #646
Hi

How about the finial solution to fix this issue?  I met the same issue " Error: Token used before issued", I see some one mentioned that we can config iat and exact same time in heketi.json. Does anyone knows how to do that ?

[2017-08-19 09:15] kongyibjcn commented on #646
Hi
How about the finial solution to fix this issue?  I met the same issue " Error: Token used before issued", I see some one mentioned that we can config iat and exact same time in heketi.json. Does anyone knows how to do that ?

[2017-08-19 14:33] jarrpa commented on #599
This is mostly obsolete since heketi implemented the ability to backup to a Secret. Closing.

[2017-08-19 14:33] #599 closed

[2017-08-25 12:55] john-deng commented on #804
@lpabon heketi become ready only again after I added HEKETI_BACKUP_DB_TO_KUBE_SECRET to "y", how to solve this issue?

[2017-08-25 12:56] john-deng commented on #804
  | Heketi v4.0.0-74-g0c21b4d
-- | --
  | [heketi] INFO 2017/08/25 20:54:57 Loaded kubernetes executor
  | [heketi] WARNING 2017/08/25 20:55:00 Unable to open database.  Retrying using read only mode

[2017-08-25 13:25] john-deng commented on #804
@lpabon please help, I used heketi in production, but it's keeping read only failure.

[2017-08-25 13:27] john-deng commented on #804
Here is the log:

Heketi v5.0.0-28-gae7d007
--
  | [heketi] INFO 2017/08/25 21:26:16 Loaded kubernetes executor
  | unexpected fault address 0x7f4f9c012000
  | fatal error: fault
  | [signal SIGBUS: bus error code=0x2 addr=0x7f4f9c012000 pc=0x6e6ef0]
  |  
  | goroutine 1 [running]:
  | runtime.throw(0x1805f21, 0x5)
  | /usr/lib/golang/src/runtime/panic.go:596 +0x95 fp=0xc4206079d8 sp=0xc4206079b8

[2017-08-25 13:34] john-deng commented on #804
I tried to cp db, it report an error,

sh-4.3# cp heketi.db heketi.db-1708252131
cp: error reading 'heketi.db': Input/output error

[2017-08-29 07:26] john-deng commented on #804
Recovered the database from secrets backup (by HEKETI_BACKUP_DB_TO_KUBE_SECRET), still don't know why the database file is broken.

[2017-08-29 07:26] #804 closed

[2017-08-30 13:22] jarrpa opened #842 "Testing Notification"
Pardon me for taking advantage of this project, I'm just trying to test out a notification. :) @gluster/gluster-kubernetes-maintainers

[2017-08-30 13:22] #842 closed

[2017-09-02 15:40] #837 closed

[2017-09-06 13:33] dmesser opened #843 "OpenShift Container Platform: heketi database read-only when evacuating a node"
Similar to #685 I get the following error message when the heketi pod is running on a node that is evacuated:

`Heketi 4.0.0

[heketi] INFO 2017/09/06 11:43:41 Loaded kubernetes executor

[heketi] WARNING 2017/09/06 11:43:44 Unable to open database.  Retrying using read only mode

[heketi] INFO 2017/09/06 11:43:58 Loaded simple allocator

[heketi] INFO 2017/09/06 11:43:58 GlusterFS Application Loa

[2017-09-09 18:07] koalalorenzo opened #844 "Building the topology: will never stop"
Hello!
I am creating a glusterfs cluster on k8s, and I am setting up some a device with `losetup` as follow:
[code]
after deploying glusterfs on each node of the network, and heketi as a pod, I am trying to set it up, but when I run:
`heketi-cli -s http://127.0.0.1:30525 topology load --json=/tmp/heketi.topology.json`
I get this message, and the command never exit:
[code]
The logs of all the glust

[2017-09-09 18:47] koalalorenzo commented on #844
The topology file is:
[code]

[2017-09-10 04:47] purpleidea commented on #789
i'm looking into this...

[2017-09-12 10:56] hakanisaksson opened #847 "topology info: "ID not found""
Error: Can't list topology information
# heketi-cli topology info
Error: Id not found
also the same error if running:
heketi-cli node info <id>

Heketi version:
heketi-3.1.0
running standalone, on a gluster cluster with 3 nodes.

Log from console:
..
negroni] Completed 200 OK in 437.791µs
[negroni] Started GET /volumes/f2edda5947f4f2bb1831fef5899ca135
[negroni] Completed 200 OK in 609.455µs
[negro

[2017-09-12 11:13] hakanisaksson commented on #847
Link to heketi.db.tar.gz http://ge.tt/7MN4zVm2

[2017-09-13 16:53] obnoxxx commented on #829
Since there was no opposition to the above point, I'm closing this issue. The test is not broken but still valid, it just tests fewer options. Could expand it in the future if we want.

[2017-09-13 16:53] #829 closed

[2017-09-13 17:01] humblec commented on #829
Sorry for being late, yeah, that options were picked up from `man page`, so yeah, could be really old option.

[2017-09-13 17:50] ttindell2 commented on #843
+1

[2017-09-14 17:20] mjudeikis opened #848 "heketi fails on OCP Mixed deployment"
When deploying heketi with external gluster cluster copy job does not even start with reason:
[code]

Because it requires privileged to run and Job does not have ref into which service account it should use to run:
[code]

So it "kills" all play.

How to replicate:

1. Create external gluster cluster
2. Setup ansible to use it for storage and deploy heketi in ocp.
3. run play.
[code]
Version:
[cod

[2017-09-15 14:54] obnoxxx commented on #848
@mangirdaz are you referring to the openshift-ansible advanced installer? Or what ansible are you using?

[2017-09-15 22:02] purpleidea commented on #789
So after reading code for a while, there are a lot of unknowns...
Because the code has few "docstrings" it's extremely hard to know what's going on, or what the `allocator`'s are for example.
But what's happening is:

When you run a cluster create, it adds an entry into the bolt db, but it *doesn't* add anything into s.rings ... when we delete, it checks that s.rings has an entry and (surprise) fi

[2017-09-15 22:41] purpleidea commented on #789
Here's part one of the patch: https://github.com/heketi/heketi/pull/850

While this fixes half of it, I recommend the architect for the project review to make sure there isn't a structural cache-consistency problem with the design. I can imagine this could get quite dangerous if storage and user data is being managed.

[2017-09-16 00:02] purpleidea opened #851 "use proper golang tests tools"
Seeing what failed in a golang test is easy using the standard tests...
Why do we have heketi/tests ???

[2017-09-16 00:08] purpleidea commented on #851
Using obscure semantics makes it hard for new users to contribute, and raises the barrier, thus making possible contributors ignore you... I'm an experienced golang developer, and this is annoying me.

Sorry for the rant!

[2017-09-17 21:00] obnoxxx commented on #851
Right, @purpleidea , this is not very helpful, since not constructive.

What do you mean, "why do we have heketi/tests"? The directory that contains the functional tests?

What, according to you, are "standard tests"?
Example of how to use them? What explicitly changes?

if you directly run `go test -v github.com/heketi/heketi/apps/glusterfs/` you see better
what test fails. Since it's not the tes

[2017-09-18 05:28] purpleidea commented on #851
@obnoxxx Sorry, I was in a bad mood. Digging into new project stuff.

I'll elaborate:

Someone has built a custom "heketi test framework" : https://github.com/heketi/tests
Why does this exist instead of simply using the standard framework without any special addons?
The standard tests are: https://golang.org/pkg/testing/ (you shouldn't need an extra package, or if you do, I'd like to know why...)

[2017-09-18 06:34] obnoxxx commented on #851
@purpleidea First of all, the wget code (which you removed) was in scripts, not in the actual golang code, but of course I understand what you mean. You could always run the tests in a development VM (it might not at all be a bad idea in general to do development in a disposable VM instead of on your production machine...).

Secondly, I have no idea about the original need to do heketi/tests. I am

[2017-09-18 07:04] purpleidea commented on #851
@obnoxxx I'm happy to help remove all the non-standard stuff, although I don't want to write the patch if it's going to get NACK-ed. So assuming you're okay with my plan to remove heketi/tests, then I can write it.

[2017-09-18 07:09] obnoxxx commented on #851
@purpleidea sure, maybe you can show for a start in one place how to do it, so that we can see what whould be different. And from there we can take it to more complete replacement.

[2017-09-19 13:31] ZhengRongTan opened #856 "通过heketi-cli创建volume失败"
如上通过heketi-cli创建volume失败。
[root@CNSZ22PL1268 heketi]#  ./heketi-cli volume create --size=15 --replica=2 --clusters=a376f15b13f142c873e33dc53e0ce0c3
Error: Volume "vg_7cd9fd6ad0880031ec313837f8e230e8/lvol0" is not active locally.
  Aborting. Failed to wipe start of new LV.

cluster 信息如下：
[root@CNSZ22PL1268 heketi]# ./heketi-cli cluster list
Clusters:
Id:a376f15b13f142c873e33dc53e0ce0c3
[root@CNSZ22

[2017-09-19 15:48] cbrand opened #857 "newest heketi/heketi:dev container on docker hub doesn't allow to create openshift config"
I tried with the newest container on docker hub `heketi/heketi:dev` to create a new cluster. Loading the topology worked, but I ran into an issue when executing the `setup-openshift-heketi-storage`.

[code]

The log of the heketi container included:
[code]

This led me to the following code piece which might have an error in the most current version:
https://github.com/heketi/heketi/blob/9d2ef4bba

[2017-09-19 23:02] purpleidea opened #859 "Create a `make deps` target in the main project"
We need this so that there's *one* safe way to add all the deps we need.

In `Makefile`:

[code]

in `misc/make-deps.sh`:
[code]
in `.travis.yaml`:
[code]

in centos-ci run make deps as well.
dangerous things should NOT go there.
So installing of glide should go outside of that.
A user should feel safe running it.

Assigned to @obnox

[2017-09-19 23:03] purpleidea commented on #859
This way future users can *safely* add things to misc/make-deps.sh without having to patch centos, travis, and everything else...

[2017-09-20 14:15] obnoxxx commented on #859
I will think about and hopefully eventually address this...  But I will still need to learn more about what is the real problem. And what is the right way to solve it...

[2017-09-20 14:24] obnoxxx commented on #847
@hakanisaksson thanks for your feed-back!

The referenced BZ was a concurrency problem that was fixed (in #579).
If you experienced a crash, this might likely have led to a corrupted DB indeed.
We'll need to investigate the db for clues...

@raghavendra-talur has experience with analyzing corrupted DBs.

[2017-09-20 14:32] obnoxxx commented on #844
@koalalorenzo thanks for your report.

I am not sure yet what's going on.
Are you running glusterfs on the hosts or in containers?
Where are you creating the loop device? (on each node? how does gluster get hold of it?)

heketi assumes raw block devices not file systems for provisioning volumes.

You usually need 3 gluster nodes at least (3-way replica is the default volume
type).

That does not e

[2017-09-20 14:33] obnoxxx commented on #844
And do you know the gluster-kubernetes project: https://github.com/gluster/gluster-kubernetes ?
it provides easy deployment for gluster+heketi into kubernetes.

[2017-09-20 14:39] obnoxxx opened #861 "cross compilation broken"
Cross compilation is broken for me since #845 .

[code]

Or from the makefile (the same):

[code]

Not sure how replacing "go install github.com/heketi/heketi" followed by "go build ..." with straight "go build -i ..." lets this happen.

[2017-09-20 14:39] obnoxxx commented on #861
note that this is used in "make release"

[2017-09-20 15:27] JohnStrunk commented on #861
Are you sure your go env is set up correctly?

Looks like go is trying to write the package cache into GOROOT instead of
GOPATH. That mkdir should have been /data/obnox/devel/go/pkg/darwin_amd64,
I believe.

But then it doesn't work for me either... (different error):
GOOS=darwin GOARCH=amd64 make dist
make[1]: Entering directory '/home/jstrunk/go/src/github.com/heketi/heketi'
go build -i -ldflags

[2017-09-20 16:17] koalalorenzo commented on #844
yes, but somehow it was not working. After several tentatives I decided to switch to rook.io and that works... for now.

Meanwhile: yes my cluster was using 3 nodes + 1 master. (I was using just an example). But somehow it was hanging. I had Heketi logs saying something about a queue being executed, but I don't remember anything else...

[2017-09-20 16:43] obnoxxx commented on #861
hmmm strange.
I am using golang from the fedora26 RPMs.

[2017-09-20 16:48] JohnStrunk commented on #861
Me too, and I had to manually set GOROOT, strangely enough.
By default, `go env` had `GOROOT=/usr`, and it mostly worked. The problem I had was actually w/ Glide trying to vendor the standard libs. I fixed that with `GOROOT=/usr/lib/golang`.

[2017-09-20 16:56] obnoxxx commented on #861
oh, interesting. my `GOROOT=/usr/lib/golang` without me setting it...

[2017-09-20 23:45] yeyus commented on #857
@cbrand seeing the same problem using ```heketi/heketi:dev```. Also failing during regular volume creation:

[code]

[2017-09-21 07:37] obnoxxx commented on #861
I now understood, that `go install` will try the same (and fail) if doing it for cross compilation:

[code]

So it is actually not the bad of `go build -i` itself but more about the scope under which it's run...

[2017-09-21 07:43] obnoxxx commented on #861
A-ha!

Found this: https://dave.cheney.net/tag/cross-compilation

It explains that cross-compilation always rebuilds the standard library, and using go install (or go build -i) this would get cached into its location which is under GOROOT... So Dave Cheney advises to use go build (without -i, and not go install) for cross compilation (or have the whole go env self-compiled somewhere).

That starts

[2017-09-21 08:28] obnoxxx commented on #844
@koalalorenzo if you want to continue on this issue, could you somehow get us the logs? Otherwise, we could close it for now, and reopen (or open a new one) if you want to pick up again.

[2017-09-21 08:29] obnoxxx commented on #827
@dmesser ugh, what version was that?
And can you share more details about the environment / config / etc ?

[2017-09-21 09:22] koalalorenzo commented on #844
Lost the logs as I have re-created the cluster.
Sorry, I would suggest to keep it open if somebody runs into the same problem.

[2017-09-21 10:19] dmesser commented on #827
This is from heketi-client-4.0.0-10.el7rhgs.x86_64.rpm
The environment OpenShift 3.6, 1 master, 3 app nodes - all running RHEL 7.4. Pretty standard topology config as you'd find here in the examples section.

[2017-09-21 12:59] #861 closed

[2017-09-21 20:51] purpleidea commented on #851
one method fixed in https://github.com/heketi/heketi/pull/863

[2017-09-22 09:09] hakanisaksson commented on #847
Ok. thanks for the response! I solved the immediate problem with the db by restoring backup, only issue with that is that backups don't match the exact reality, i.e. volumes have been deleted/added in the meantime, and it's a pain to recreate gluster volumes manually to match the heketi db. Hoping something like the cli dump of https://github.com/heketi/heketi/pull/754 will make it's way into the

[2017-09-25 03:01] #856 closed

[2017-09-25 03:10] ZhengRongTan opened #867 "fail to create volume;"
@obnoxxx
fail to create volume;
![image](https://user-images.githubusercontent.com/8637734/30790890-71df00e2-a1e1-11e7-9c55-0bf51275cc0c.png)

topology info
![image](https://user-images.githubusercontent.com/8637734/30790932-af37ea1c-a1e1-11e7-9e31-0745b1d7841c.png)

glusterfs info
![image](https://user-images.githubusercontent.com/8637734/30790964-e1a89f6e-a1e1-11e7-8d5e-3b98d9d6e998.png)

I run

[2017-09-26 07:29] ntfs32 opened #868 "Error: cannot get replicationcontrollers in project"
when create glusterfs in openshift v3.6
[code]
get some error:
[code]
what should i do for this?

[2017-09-27 00:05] pblaas commented on #857
I'm starting seeing this too on a new kubernetes clusters on Container Linux.

I've tried multiple k8s versions with same result. There are 3 glusterfs pods deployed by the ds and the glusterfs instances are able to see each other.

[code]

[2017-09-27 16:38] ttindell2 opened #870 "No Documentation for --image flag on heketi-cli setup-openshift-heketi-storage"
There is no documentation for the --image flag for heketi-cli setup-openshift-heketi-storage. This is needed for deployments where docker hub will be unavailable. Documentation is needed somewhere.

Openshift Ansible script is being updated to use this flag:

https://github.com/openshift/openshift-ansible/pull/5562

[2017-09-28 16:25] ttindell2 opened #871 "Add ability to export topology.json from cluster"
It would be very nice if you could do:

heketi-cli topology export --file topology.json

This would be nice in case you want to easily add more devices to your cluster and you have missplaced your original topology file, or if your topology file was created in an automated script and not persisted.

[2017-09-30 02:37] jamie-liu commented on #700
I also facing the same issue as the nodes have both ssd and sata drives. So I want to provide different type of volume based on different hardware.
@ekuric @MohamedAshiqrh I think the issue can be solved by setup two heketi instances which run as container.
And in the storageclass yaml, we can specify different heketi resturl for creating different type of volume.

[2017-10-02 13:07] kristvanbesien commented on #800
It's working now. You can close.

[2017-10-03 11:08] tsailiming commented on #848
Having the same problem here.

Using the advanced installer.

[code]

[2017-10-03 17:19] dimthe opened #873 "deploy-heketi-deployment.json is missing when you do git clone"
Hello i am trying to get heketi/glusterfs to work on a kube cluster deployed with kubespray on centos 7.3 and docker 1.13.1 , kubectl 1.7.4

i found the missing file from here
/master/deploy/kube-templates/deploy-heketi-deployment.yaml

i changed the version heketi:tag to heketi:latest and although the yaml seems to be working
[code]
it does not create a heketi pod

[code]

i have manually done a

[2017-10-04 09:35] wernergillmer opened #875 "Failling to create volume with missing cluster"
Hi

I am running heketi/glusterfs on kubernetes 1.7.0. I have 7 nodes for storage :

[code]

When I run `heketi-cli setup-openshift-heketi-storage`
I get the `Error: No space` error message, looking at the heketi pod, I see the following :

[code]

Anyone see a reason why the `heketi-cli setup-openshift-heketi-storage` command is falling?

This is how my topology looks like :

[code]

[2017-10-04 13:23] tsailiming commented on #848
I did a workaround and now I have managed to deploy Heketi.

[code]

[code]

[2017-10-05 05:02] jtuthehien commented on #820
You need to set the environment variable HEKETI_KUBE_GLUSTER_DAEMONSET to 'y' for heketi to resolve pod name

[2017-10-09 13:37] florent-souliere-smile opened #876 "Brick creation failed with "device not properly aligned""
During the Gluster brick creation by Heketi (func `BrickCreate()` in `bricks.go`), it fails during call to `mkfs.xfs`.

Context:

- OpenShift template for Heketi. In this template, I tried default Heketi version image "dev", but also "4" and "5" with no success.
- Host OS is CentOS 7.4
- Host storage for Gluster is an iSCSI volume exposed by VMware as a physical disk. So that the storage device ha

[2017-10-09 14:08] wernergillmer opened #877 "Lost topology information"
Hi

Running on Kubernetes (1.7.0) the node that my heketi pod runs on died, and the heketi pod got rescheduled to another node.
Problem now is, using `heketi-cli topology info` shows nothing, there does not seem to be a cluster etc. However, all my bounded pvc's in Kubernetes is up and working. All my Glusterfs pods is good, but I cannot bound new pvc's to the storageClass I created, that poinds t

[2017-10-10 11:43] wernergillmer commented on #821
@roffe did you manage to fix this?

[2017-10-10 11:46] mjudeikis commented on #821
Did you lost a cluster or Just heketi lost botlDB backend?

[2017-10-10 12:01] wernergillmer commented on #821
I have a similar problem, when heketi get's rescheduled to another node, the boltdb is gone.

[2017-10-10 12:27] mjudeikis commented on #821
@wernergillmer how did you deployed heleti? ansible or manual deployment? BotlDB is file-based Database, by "design" (which in my humble opinion is wrong) it "backed" into gluster itself. If you deployed manually you might miss it.
`oc get dc heketi-storage -o yaml` should give you answer.

[code]

[2017-10-10 12:45] pkutishch opened #878 "go-client is not up-to-date"
Release-5 client-go doesn't contains VolumeOptions for new feature which has been released in latest release.

[2017-10-10 13:56] wernergillmer commented on #821
indeed, it seems, I used heketi-deployment.json and skipped using deploy-heketi-deployment.json
But where do I find the deploy-heketi-deployment.json file? Looking in https://github.com/heketi/heketi/tree/master/extras/kubernetes the file is not there.

[2017-10-10 14:18] wernergillmer commented on #807
Trying to use the deploy-heketi-deployment.yaml file pointed out by @raghavendra-talur but it's using a secret, that I don't have, and I don't see where it get's created. What should be in the secret? Anyone got some documentation that's up to date?

[2017-10-11 06:28] raghavendra-talur commented on #878
@pkutishch You are right. However, it wasn't supposed to be in release-5. It is likely that the changelog is wrong, @obnoxxx ?

[2017-10-11 06:31] raghavendra-talur commented on #877
@wernergillmer How did you deploy heketi? Heketi maintains all the information in a database file located in /var/lib/heketi/heketi.db by default. If you used gk-deploy from https://github.com/gluster/gluster-kubernetes project then it would have created a gluster volume and bind mounted to /var/lib/heketi such that you have same data available on pod migration.

Let us know how you deployed and w

[2017-10-11 10:01] raghavendra-talur commented on #876
@florent-souliere-smile , the way alignment seems to work is we fetch the extent size from Logical volume manager and then create a brick of size which is a multiple of the extent size.(Refer to code in https://github.com/heketi/heketi/blob/8e587614d95094c83b7b9e67f89aba9de0f4bd8c/apps/glusterfs/device_entry.go#L386 )

Now, we fetch the extent size in https://github.com/heketi/heketi/blob/71c8789e

[2017-10-11 10:04] raghavendra-talur commented on #875
@wernergillmer Were you able to find the cause? If so could you please update or close this issue?

[2017-10-11 14:40] wernergillmer commented on #877
Managed to get it working, by following the gk-deploy route, rather than the instructions in this git repo.

[2017-10-11 14:40] #877 closed

[2017-10-11 14:42] wernergillmer commented on #875
Problem was in the the following file :
https://github.com/heketi/heketi/blob/master/extras/kubernetes/heketi-deployment.json

The docker image is set to a dev tag, `(heketi/heketi:dev)` I changed it to 5, redeployed and the issue went away.

[2017-10-11 14:42] #875 closed

[2017-10-11 14:48] mjudeikis commented on #848
fixed in new release

[2017-10-11 14:48] #848 closed

[2017-10-12 05:58] raghavendra-talur commented on #871
@ttindell2 this is already being tracked with #753 and I have a PR on #754 . I will close this as a duplicate. Would like your review on the original issue.

Duplicate of #753

[2017-10-12 06:01] raghavendra-talur commented on #870
@ttindell2

This is currently documented in command --help option

[code]
Are you looking for its documentation somewhere here is repo?

[2017-10-12 12:55] ttindell2 commented on #870
I didnt realize it was in the commandline help, though it would still be good to have better documentation in the repo

[2017-10-12 16:06] florent-souliere-smile commented on #876
@raghavendra-talur Here is an extract of the logs collected on the OpenShift master host (I use the Heketi+Gluster deployment in OpenShift):

`
Oct  9 12:07:58 opendraft1 journal: [kubeexec] DEBUG 2017/10/09 10:07:58 /src/github.com/heketi/heketi/executors/kubeexec/kubeexec.go:250: Host: opendraft3 Pod: glusterfs-hpl4k Command: pvcreate --metadatasize=128M --dataalignment=256K /dev/sdb
Oct  9 12:0

[2017-10-13 08:18] jamie-liu opened #879 "Support setting gluster volume quota via heketi-cli"
Current the gluster volume quota is disabled by default.
So the PV size specified in the yaml file is not working, in fact the volume size is unlimited. This is not acceptable in the multi-tenant Env.
Is there any plan to support setting the quota of volume when creating volume with heketi?

[2017-10-13 19:23] dougbtv opened #880 "Error: No Space with heketi:dev image"
(Originally reported in https://github.com/gluster/gluster-kubernetes/issues/369 )

Currently, using the `gk-deploy` script in gluster-kubernetes -- if I am to use the `heketi/heketi:dev` tag (as is default in gluster-kubernetes) I am presented with gk-deploy failing with: `Error: no space`. If I change the yaml resource definitions to point at the `heketi/heketi:5` image tag -- it completes witho

[2017-10-16 09:03] jamie-liu commented on #879
@obnoxxx @anushshetty @purpleidea @sidcarter

[2017-10-16 09:17] jamie-liu commented on #879
Close issue as the lvm already limit the volume size.

[2017-10-16 09:17] #879 closed

[2017-10-17 04:56] ntfs32 commented on #844
the same problem:
[code]
install with `./gk-deploy  -n kube-system -g -y` createing node and never stop...

[2017-10-17 09:18] dimthe opened #881 "/etc/heketi/heketi.json: no such file or directory"
hello
i am trying to build gclusterfs / heketi on kubernetes 1.7.5 and i am stuck at the bellow error after i run the deploy-heketi-deployment.yaml . I also tried older heketi tags all with the same error

any tips? ideas.. ?

[code]

[2017-10-17 14:34] pkutishch commented on #878
@raghavendra-talur are you going to stop maintaining go-client? as i could see it in use inside kubernetes glusterfs dynamic provisioner.

[2017-10-17 16:30] obnoxxx commented on #878
@pkutishch we are of course not stopping maintenance of the client!

@pkutishch , @raghavendra-talur : what is the concrete problem? What is missing?

[2017-10-17 16:36] obnoxxx commented on #881
Hi @dimthe, thanks for your feed-back!

We are maintaining a separate repo with the up-to-date templates, as well as instructions and a script to do the deployment in kubernetes:

https://github.com/gluster/gluster-kubernetes

would you be willing to check that out?

Of course we should clean up this repo and clearly point to the other one, as already requested in issue https://github.com/heketi/h

[2017-10-17 16:37] obnoxxx commented on #873
As mentioned in issue #881, have you had a look at https://github.com/gluster/gluster-kubernetes ?

[2017-10-18 16:15] Asgoret opened #882 "Heketi service stopped after command 'heketi-cli..'"
Hi to everyone.

I install heleti and heketi-cli via yum. I configured `heketi.json` for openshift-ansible. Systemctl shows that all is ok, but if I use command `heketi-cli -s http://10.5.135.185:8080 --user admin --secret '' cluster list` heketi server is stopped without any error or message.

Can somebody help with it?

[2017-10-18 16:38] jarrpa commented on #882
Please provide your heketi.json file, the heketi version, the OS you're running, and any heketi logs on the machine.

Also, does the crash still occur if you omit `--secret ''`?

[2017-10-18 16:50] Asgoret commented on #882
@jarrpa  No. It doen't metter set admin pass or not.
I think the service stops because of the security settings. It is possible that the user from which the launch occurs does not have access to the folder where the PID file should be located. So i edit default service and re-run install.
[heketi.txt](https://github.com/heketi/heketi/files/1395527/heketi.txt)

[2017-10-18 20:34] jarrpa commented on #882
You shouldn't need to edit the heketi.service file.

Please provide your heketi.json file, the heketi version, the OS you're running, and any journalctl or heketi logs on the machine.

[2017-10-19 07:20] Asgoret commented on #882
@jarrpa
[code]
Scrib of error:
![image](https://user-images.githubusercontent.com/30697011/31758602-cc7de3dc-b4b6-11e7-9e3e-c892a983fb83.png)

[2017-10-19 12:16] Asgoret commented on #882
@jarrpa Any idea? I think problem somewhere in security...I mean it seems that heketi server can't load configuration file by yourself. And i, from `root` user, can load configuration file.

[2017-10-19 12:20] jarrpa commented on #882
@Asgoret Well, if you think that's the case...

Return all values to default (e.g. service file). Check the ownership and permissions of the `heketi.json` file and its directory, make sure the heketi user has at least read access to it.

[2017-10-19 12:26] Asgoret commented on #882
@jarrpa Already do that...I haven't got any idea what can be the reason of that situation. Another is that i use minimal iso of centos...so, maybe some packages don't installed....have you any ideas?

[2017-10-19 12:30] jarrpa commented on #882
@Asgoret That could be something, I suppose... are you installing heketi from RPM though? If so that should take care of any dependencies.

What version of CentOS are you running?

If you're running SELinux, see if disabling it changes anything

[2017-10-19 12:43] Asgoret commented on #882
@jarrpa
Yes, i install heketi via yum from epel repository.

I use CentOS 7.2 from iso `CentOS-7-x86_64-Minimal-1511`.

[2017-10-19 12:59] jarrpa commented on #882
@Asgoret Hmm... with you can, create a new VM first with at least CentOS 7.3 (minimal or otherwise) and see if an RPM-installed heketi works there. If it does, try upgrading/reinstalling the current VMs to 7.3.

[2017-10-19 13:14] Asgoret commented on #882
@jarrpa  SELinux didn't help, i re-install master on fresh minimal-iso.

[2017-10-19 13:59] Asgoret commented on #882
@jarrpa Reassuring...
![image](https://user-images.githubusercontent.com/30697011/31774627-ea8853ac-b4ee-11e7-97d7-eaa0f73912c4.png)

[2017-10-19 14:06] jarrpa commented on #882
@Asgoret All right! What changed?

[2017-10-19 14:07] Asgoret commented on #882
@jarrpa Fresh iso from site.

[2017-10-19 14:27] jarrpa commented on #882
@Asgoret What version?

[2017-10-19 14:30] Asgoret commented on #882
@jarrpa
ISO:CentOS-7-x86_64-Minimal-1708
[code]

[2017-10-19 14:35] jarrpa commented on #882
@Asgoret Okay! So it looks like the problem may have been an "out of date" OS? Is the heketi issue itself is resolved?

[2017-10-19 14:43] Asgoret commented on #882
@jarrpa Maybe... Snapshot is preparing at this moment

[2017-10-20 08:00] Asgoret commented on #882
@jarrpa
Ok, I have some new information.
I disable heketi service and run heketi from console manual.
Now error in task "Load heketi topology".
Log from heketi:
[code]
Log from ansible:
[code]

[2017-10-20 08:03] Asgoret commented on #882
@jarrpa  Ok...Service did not fail. I more thinking problem somewhere in security area with verify task.

[2017-10-20 12:47] Asgoret commented on #882
@jarrpa I think error in security.  Heketi verify passed ok. So error is in the heketi.service configuration file.

Error in:
[code]
Log from gluster node:
[code]
Iptales -L
[code]

[2017-10-20 15:25] jarrpa commented on #882
It looks like you resolved your initial heketi issue. If so, please close this issue and continue on the original thread in openshift-ansible.

[2017-10-23 10:24] Asgoret commented on #882
@jarrpa  Since you right. Error somewhere in security, but i can't find error quickly.
 What was done:
1) SELinux - disableb
2) Change user which start service from heketi to root
3) Change owner of all files which use service to heketi

[2017-10-23 10:24] #882 closed

[2017-10-23 16:19] pirogoeth opened #884 "Standalone deployment, first node successfully creates, subsequent nodes fail oddly"
I'm working on a 3-node Gluster + Heketi deployment on CentOS 7 using the Heketi 5.0.0 release (from the releases page).

My issue is remarkably similar to #690, but in a standalone setup instead of Kubernetes setup.

I can successfully create the first node (which can be any of `gluster-n01`, `gluster-n02`, or `gluster-n03`), but when I go to create the subsequent nodes:
[code]

Here is the Heket

[2017-10-23 17:03] #884 closed

[2017-10-24 13:06] raghavendra-talur commented on #712
How to reproduce:

Don't load a topology file. Just create a cluster and try creating a volume. The error should not be Id not found.

[2017-10-24 13:19] obnoxxx commented on #734
fixed by PR #735

[2017-10-24 13:19] #734 closed

[2017-10-24 13:22] obnoxxx commented on #733
fixed by PR #735

[2017-10-24 13:22] #733 closed

[2017-10-27 08:04] rockwyc992 commented on #696
I have removed a volume in gluster-cli, but I still find it in heketi.
And I could not remove this volume in the heketi.
[code]

Maybe we could add a new feature to detach a volume from heketi, like other volumes not created by heketi.  (For example, Just wipe the information of this volume in heketi database.)
And then, we could delete this volume in gluster-cli by manual.

I think that is a help

[2017-11-01 17:26] tizianotiz opened #885 "Error: No space k8s 1.7"
Running `volume create` I am getting `Error: No space`
[code]
I have 1 cluster whit 3 nodes as device I am using /dev/loop9p1 whit 48gb of free space

This is my cluster topology:

[code]
Node list
[code]

and I am using `heketi/heketi:dev`

[code]

[2017-11-01 19:01] patrickstjohn commented on #880
We were able to workaround this by moving back to the heketi/heketi:latest container. You have to modify deploy-heketi-deployment.json as well as heketi-storage.json (as created by heketi-cli setup-openshift-heketi-storage)

[2017-11-02 17:05] obnoxxx opened #886 "Add a test to check the syntax/formatting style of Makefiles"
At least test for consistent use of tabs instead of spaces.
More?

[2017-11-02 17:09] obnoxxx opened #887 "Move the golang tests from the toplvl Makefile to a test script under tests/"
This would continue the work started in PR #866 .

[2017-11-02 17:11] obnoxxx opened #888 "Add a way to create test coverage reports to heketi."

[2017-11-02 17:16] obnoxxx commented on #886
This should actually be part of PR #865 which cleans the makefiles up for space/tab mixup...

[2017-11-02 17:30] #885 closed

[2017-11-02 17:31] tizianotiz commented on #885
if you have 3 replicas is it mandatory to have 3 dedicated partition like:
 /dev/1
 /dev/2
 /dev/3

on each node

[2017-11-02 22:39] obnoxxx commented on #878
ping @pkutishch , @raghavendra-talur - any explanation what the problem actually is?

[2017-11-02 23:29] obnoxxx commented on #851
Let's stick with the Assert function for now. We like it. It makes the code much more easy to read. Complete reasoning inPR  #863 .

[2017-11-02 23:29] #851 closed

[2017-11-03 00:03] obnoxxx commented on #881
Hi @dimthe, any update? Was the gluster-kubernetes repo helpful?

[2017-11-03 00:03] obnoxxx commented on #873
@dimthe , any luck with gluster-kubernetes?

[2017-11-03 00:05] dimthe commented on #881
@obnoxxx hello

helpful yes but i have a bunch of major issues
https://github.com/gluster/gluster-kubernetes/issues/383

[2017-11-03 00:08] obnoxxx commented on #881
@dimthe thanks, I see that @jarrpa is already helping you on the gluster-kubernetes issue.  Can we close this heketi-issue?

[2017-11-03 00:09] dimthe commented on #881
ok , closing it

[2017-11-03 00:09] #881 closed

[2017-11-03 00:09] obnoxxx commented on #881
thanks!

[2017-11-03 00:26] obnoxxx commented on #880
Ok, the cluster is missing the File and Block flags.

This is missing from the output of topology load:
[code]

Checking whether the heketi:dev container has been built with an incomplete code...

[2017-11-03 00:33] obnoxxx commented on #880
@dougbtv is the heketi-cli used by gk-deploy slightly older?
I think this might be the root cause: The older heketi does not know about the block / file flags in the cluster. And the bug is that the enforcement of the defaults (true) is not in the server but in the client...

[2017-11-03 07:34] obnoxxx commented on #876
@florent-souliere-smile fyi, I edited your comment to use triple backticks for quoting the multi-line log snippet. this way, line-breaks are displayed correctly...

[2017-11-03 07:55] obnoxxx commented on #871
closing as duplicate. please follow up on #753

[2017-11-03 07:55] #871 closed

[2017-11-03 07:58] obnoxxx commented on #870
The manpage needs updating.
What other place of documentation needs update?

[2017-11-03 08:01] obnoxxx commented on #857
Which heketi-cli are you using? I guess it's an older one and not the one shipped with the master version?

I guess this is the same as #880.

[2017-11-03 09:13] obnoxxx commented on #868
Hi @ntfs32, this seems somewhat unrelated to the actual actual heketi project. The deployment tools and artifacts for deploying heketi and gluster in kubernetes have been moved to the github.com/gluster/gluster-kubernetes project. Please see up-to date instructions, templates and tools there. The gk-deploy tool in that repo has the current commands to run to successfully to deploy gluster.

[2017-11-03 09:16] obnoxxx commented on #867
@ZhengRongTan thanks for your report. And sorry for the delay...

* What commands did you run to set up your environment (heketi / gluster)?
* Why do you run lvcreate? You should not (need to) do anything like this, since heketi takes care of setting up pvs/vgs/lvs...

[2017-11-03 09:26] obnoxxx commented on #820
You guys are right! The wiki documentation and the templates in this repo are outdated. The current instructions, artifacts, and tools for deploying heketi and gluster in the kubernetes world can be found in the github.com/gluster/gluster-kubernetes repository. We need to update this repo....

[2017-11-03 09:29] obnoxxx commented on #807
Please refer to the documentation and tools in the github.com/gluster/gluster-kubernetes repository for instructions, artifacts, and tools to deploy heketi and gluster into kubernetes.

There are several duplicates of this issue, including #873.

[2017-11-03 09:30] obnoxxx commented on #807
The kubernetes related documentation in this repo is outdated  and needs to be updated/fixed/removed.

[2017-11-03 10:22] andersla opened #890 "The docker repo heketi/gluster is empty"
My deployment fails because the docker image heketi/gluster:latest is gone from repo.
https://hub.docker.com/r/heketi/gluster/tags/

[2017-11-03 11:06] cbrand commented on #857
I tried reproducable it with the following. All had the same result:
* Compile `heketi-cli` myself with the then current master branch.
* Use the `heketi-cli` executable in the docker container which also executed the server.

[2017-11-03 13:13] dougbtv commented on #880
@obnoxxx -- what's the best way to inspect it, I believe that the heketi-cli would've come from the docker containers in this instance, maybe? Or it's somehow packaged with a gluster-kubernetes clone? At any rate, happy to spin it up and take a look given a pointer. Thanks for sure.

[2017-11-03 13:21] obnoxxx commented on #857
Now that is really weird. When running locally from master, the heketi-cli is up-to date and everything works nicely... :-o

[2017-11-03 13:41] obnoxxx commented on #890
Yeah, I just removed it because it had not been updated since a while. And the advice is to use the official upstream gluster docker images. See #808 for further comments. I wanted to remove it altogether, but maybe this is the wrong way...

@raghavendra-talur @jarrpa @humblec  -  how to do it properly? where are these images used? I can't fined it used anywhere....

[2017-11-03 13:48] andersla commented on #890
Ok I have switched, but it might be an idea to put image back for a while - or something - it has been pulled 500K times from dockerhub.

[2017-11-03 14:24] obnoxxx commented on #890
@andersla yeah, you are right. I'll figure it out. Thanks for you hint!

[2017-11-03 14:53] obnoxxx commented on #890
To avoid confusion, I removed the repository altogether, as was announced in #808 already. Not sure where to properly communicate this so people know where to go, which is:

https://hub.docker.com/r/gluster/gluster-centos/

[2017-11-03 14:53] #890 closed

[2017-11-03 14:54] obnoxxx commented on #808
I removed the repo from dockerhub.

[2017-11-03 14:54] #808 closed

[2017-11-03 16:19] obnoxxx commented on #880
@dougbtv

* where are you running gk-deploy?
* that host has the heketi-cli that is being run.
* where does it come from? (rpm / docker image / compiled source / ...)

[2017-11-03 16:57] dougbtv commented on #880
Hot damn @obnoxxx -- you're good :) So, I have all my steps in this ansible playbooks, and.... I totally had ignored that it pulls down a tarball with the heketi cli!

Here's the offending portion... https://github.com/redhat-nfvpe/kube-centos-ansible/blob/master/roles/glusterfs-kube-config/tasks/main.yml#L59-L62

So, yes -- turns out I'm downloading heketi-cli 4.0.0 -- and I realize there is a re

[2017-11-03 17:24] obnoxxx commented on #880
@dougbtv ah! that makes sense. I was wondering where the old client originates from .... You need to make sure to use a heketi-cli that is new enough. I think 5.0 will not be sufficient, you'll probably need one from master (matching the server).

So we have 2 issues:

* you're using an old client ==> that's gonna be taken care of externally. not a heketi issue per se.
* master heketi behaves badl

[2017-11-03 17:29] dougbtv commented on #880
Most excellent. Of those two issues, I'll take care of the first externally (updating my own methodology to deploy gluster-kubernetes and therefore, also heketi -- and also double checking the gluster-kubernetes docs), the second is perfect for here, seems.

More than happy to run-through a hands-on test of the functionality when there's an opportunity / that is figured out. Give me a highlight, a

[2017-11-03 17:30] obnoxxx commented on #880
@dougbtv  I'll update here as soon as there is news. Thanks for your help!

[2017-11-03 17:34] obnoxxx commented on #847
@hakanisaksson sorry for the delay. Given the above statement, I assume I can close this issue. Please reopen if anything remains to be done here. The db dump tool is tracked separately.

[2017-11-03 17:34] #847 closed

[2017-11-03 17:36] obnoxxx commented on #844
@ntfs32 we would need description of the environment (kubernetes/...). And then logs from heketi.

[2017-11-03 17:37] obnoxxx commented on #800
thanks for confirming, @kristvanbesien

[2017-11-03 17:37] #800 closed

[2017-11-03 17:41] obnoxxx commented on #810
@Scukerman the issue on gluster-kubernetes was active for a while and then closed.
I dont think we can do anyhting more here right now. So I'm closing this one as well. If you want to continue, please reopen any of the two issues. Thanks!

[2017-11-03 17:41] #810 closed

[2017-11-03 17:44] obnoxxx commented on #773
The template has been fixed meanwhile and the docker image removed. closing...

[2017-11-03 17:44] #773 closed

[2017-11-03 17:53] obnoxxx commented on #721
With the HEKETI_EXECUTOR environment variable (set to ssh), you can tell a heketi running in a pod in openshift to manage a gluster that is residing outside of openshift. This was added as a mode of deployment to gk-deploy in https://github.com/gluster/gluster-kubernetes/pull/281 .

Closing this. Please reopen if there's more to it.

[2017-11-03 17:53] #721 closed

[2017-11-03 22:57] srflaxu40 opened #891 "What happened to your dockerhub image?"
"image": "heketi/gluster:latest",

I get 404 not found

[2017-11-04 14:46] cbrand commented on #857
Sorry, I should have been more specific: I tested it back when I originally opened the issue. I'll try it with the most current versions again once I initialize a new gluster cluster.

[2017-11-05 07:13] chuckbutler commented on #880
I built heketi from master today and ran into issues. I needed to bump those images to `heketi:latest` instead of `heketi:dev` - idk what the difference is but it was the functional work-around in getting success during `heketi-cli setup-openshift-heketi-storage`

[2017-11-06 01:01] ttindell2 commented on #870
I would imagine it should also be documented on the github wiki also.

[2017-11-06 14:55] obnoxxx commented on #891
Sorry, that image has been removed. One should use the official gluster image instead. See #773 and #808 .

[2017-11-06 14:56] #891 closed

[2017-11-07 00:41] c9s opened #892 "Unable to add device: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey]"
verified the same ssh key on the heketi server and other glusterfs. heketi can't connect to the ssh server.

and the sshd log on the target instance doesn't show anything even if I turn on the log level to Debug2.

however it works fine If I connect to the instance with the key `/etc/heketi/id_rsa` by using the command below:

[code]

looks like the connection was not created??

I also tried witho

[2017-11-07 00:42] c9s commented on #892
here is my heketi json config:
[code]

[2017-11-07 00:47] c9s commented on #892
my glusterfs also shows connected:

[code]

[2017-11-07 04:42] c9s opened #893 "HostKeyCallback is missing in sshexec"
The correct way to construct a ssh client:

[code]

[2017-11-08 12:57] jciniburk opened #894 "Docker image heketi/gluster:latest is not accessible on Docker Hub"
Hi.
I was trying to run GlusterFS in my Kubernetes.
When I executed

`kubectl create -f gluster-daemonset.json`
It ends up producing error:
`Failed to pull image "heketi/gluster:latest": rpc error: code = Unknown desc = Error: image heketi/gluster:latest not found
Error syncing pod`

Then I checked the docker hub and the image is not present there.
https://hub.docker.com/r/heketi/gluster/

Thx

[2017-11-08 13:28] nixpanic commented on #413
The [external-storage snapshot user-guide](https://github.com/kubernetes-incubator/external-storage/blob/master/snapshot/doc/user-guide.md) describes the common functionality:

- create snapshot from a PV
- promote snapshot to PV (sortof PV cloning functionality)
- restore a PV from a snapshot
- delete snapshot

[2017-11-08 14:42] humblec commented on #413
Yes, it would be good to implement snapshot functionality in heketi so that it can be plugged with the controller. WIP patch is available for kube side of things @https://github.com/humblec/external-storage/commit/1ee96627f14fb092575d6b0f89e50aba87755944

[2017-11-08 18:05] obnoxxx commented on #789
fixed by PR #850

[2017-11-08 18:05] #789 closed

[2017-11-08 18:07] obnoxxx opened #895 "Need test for issue #789"
PR #850 fixed issue #789. But we still need a test for this.
This test does not need to be at the http/REST api layer,
much rather I suggest testing this at the layer of our internal
functions.

[2017-11-08 18:08] obnoxxx commented on #895
@purpleidea fyi. happy to sit down with you hacking on this at some point.

[2017-11-08 18:18] obnoxxx commented on #730
@purpleidea you might want to look into this one.

[2017-11-08 18:22] obnoxxx commented on #662
Also the core logic pieces are mot a part of gluster than of any golang/apache world consumer. That's why we changed it. The parts that a consumer needs to cpmpile in are all under Apache.

Closing this for now. Please reopen if there is more to discuss.

Thanks!

[2017-11-08 18:22] obnoxxx commented on #662
Also the core logic pieces are mot a part of gluster than of any golang/apache world consumer. That's why we changed it. The parts that a consumer needs to cpmpile in are all under Apache.

Closing this for now. Please reopen if there is more to discuss.

Thanks!

[2017-11-08 18:22] #662 closed

[2017-11-08 18:32] phlogistonjohn commented on #888
I have some preliminary work in this area in my fork. I meant to assign this to myself but it seems github doesn't allow that. (Even though I'm a member/dev?)

[2017-11-08 18:32] purpleidea commented on #895
(Notes for later)

Repro:

# SETUP:

cd ~/code/heketi/heketi
rm tmp/var/heketi.db ; ./heketi --config heketi.json  # mock

cd ~/code/heketi/heketi/client/cli/go
./heketi-cli topology load --json=topology-sample.json

# BUG1:
./heketi-cli volume create --size 100

[negroni] Started POST /clusters
[negroni] Completed 201 Created in 9.973816ms
[negroni] Started GET /clusters/a3a2e405a7c1da73b0b8583d5

[2017-11-08 18:32] purpleidea commented on #895
(Notes for later)

Repro:

# SETUP:

cd ~/code/heketi/heketi
rm tmp/var/heketi.db ; ./heketi --config heketi.json  # mock

cd ~/code/heketi/heketi/client/cli/go
./heketi-cli topology load --json=topology-sample.json

# BUG1:
./heketi-cli volume create --size 100

[negroni] Started POST /clusters
[negroni] Completed 201 Created in 9.973816ms
[negroni] Started GET /clusters/a3a2e405a7c1da73b0b8583d5

[2017-11-08 18:32] purpleidea commented on #895
(Notes for later)

Repro:

# SETUP:

cd ~/code/heketi/heketi
rm tmp/var/heketi.db ; ./heketi --config heketi.json  # mock

cd ~/code/heketi/heketi/client/cli/go
./heketi-cli topology load --json=topology-sample.json

# BUG1:
./heketi-cli volume create --size 100

[negroni] Started POST /clusters
[negroni] Completed 201 Created in 9.973816ms
[negroni] Started GET /clusters/a3a2e405a7c1da73b0b8583d5

[2017-11-10 18:36] patrickstjohn commented on #857
Running into this bug as well. Any ideas on a workaround? Or is moving back to version 5 with the 5.0 cli the correct move?

[2017-11-13 00:22] chmod666org commented on #857
Same here. Any news ?

[2017-11-15 00:04] renich commented on #894
Same problem here.

[2017-11-16 18:35] #843 closed

[2017-11-17 11:05] rishubhjain opened #902 "Build fails with git version < 2.7.0"
https://github.com/heketi/heketi/blob/master/Makefile#L12 throws error if git version is below 2.7.1.
Git version required for building hekeit must be either specified or the exception should be handled.

[2017-11-17 11:05] rishubhjain commented on #902
cc: @raghavendra-talur

[2017-11-19 19:23] lorec0re commented on #894
same here

[2017-11-20 02:40] cameron-scrace commented on #894
same issue here, openshift storage currently down because the image is no longer available.

[2017-11-20 07:04] raghavendra-talur commented on #894
@jciniburk @renich @lorec0re @cameron-scrace There have been many changes in the daemonset template. Please refer to https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/glusterfs-daemonset.yaml for the latest template and use https://hub.docker.com/r/gluster/gluster-centos/ as the gluster image.

[2017-11-20 07:05] raghavendra-talur commented on #902
Yes, this is because sort=creatorder is not available in git version below 2.7.1. I don't think sorting is required in this particular case, will send a patch.

[2017-11-20 19:16] raghavendra-talur commented on #895
Also, loading a topology file throws some errors:

[code]

This seems to be because of AddCluster() being called multiple times for the same cluster id.

[2017-11-20 21:22] bcg62 commented on #331
is there a way around this with 2 nodes, or must you have 3?

[2017-11-21 04:11] humblec opened #908 "Add support for getting volume ID from volume name."
Currently there is no way in heketi to get volume ID from volume name either via cli or api. This is a must requirement at certain scenarios and there should be a way to resolve ID from volume name.

[2017-11-21 04:12] humblec commented on #908
@raghavendra-talur @phlogistonjohn @obnoxxx thoughts?

[2017-11-21 13:19] raghavendra-talur commented on #908
@humblec This is doable but a hard problem. A volume name is not guaranteed to be unique from heketi's perspective. It is unique for a gluster cluster and heketi might be managing multiple gluster clusters.

So it is possible that you get multiple vol IDs for the same name.

It is a searching problem and I don't think we need to solve it.

[2017-11-21 13:23] purpleidea commented on #908
@humblec Can you give us more details about why this is needed, and (I hate to say it) but a specific use case please?

[2017-11-21 14:04] raghavendra-talur commented on #908
In my comment above, I just meant we should not do it in server. But I still like this idea and would like to do it in heketi-cli using existing REST URLs.

[2017-11-21 17:38] ghamed opened #909 "Glusterfs Storage: heketi-storage-copy-job"
**Description**

We have 6 dedicated gluster nodes not in openshift (CentOS to be exact) and 1 heketi pod on openshift. We use https://github.com/openshift/openshift-ansible to deploy openshift.

**Version**
[code]

**Steps To Reproduce**

1. Deploy the 6 nodes, and a working openshift cluster
2. run the playbooks/byo/openshift-glusterfs/config.yml
3.

**Expected Results**

Heketi installed and co

[2017-11-22 07:12] humblec commented on #908
@raghavendra-talur @purpleidea if /adminI know heketi volume name and if we want to delete that volume, currently its very tedious process. The only option now is ,

Send volume list then grep or search for the volume name in output and retrieve ID. Once you have the ID send volume delete() with  ID as its arg.

Admin know the volume name he created, but to delete he has to follow above process an

[2017-11-23 08:09] wernergillmer opened #913 "heketi endpoint i/o timeout"
I seem to have developed a strange problem with my heketi/glusterfs storage cluster. It’s been running perfectly fine with a couple of weeks now in our production k8s cluster. But since yesterday we cannot create any new pvc’s

    kubectl describe pvc filesystem-example
    Name:       filesystem-example
    Namespace:  default
    StorageClass:   filesystem-storage
    Status:     Pending
    Vo

[2017-11-23 09:40] obnoxxx commented on #908
@raghavendra-talur how does "doable but a hard problem" and the "good first issue" label fit together? :-)

[2017-11-23 10:12] raghavendra-talur commented on #908
@obnoxxx my comments are not clear because I had more context from @humblec on the requirement.

To delete a volume by volume name as asked in the above comment is hard. It is performing a change in state and by using volume name(an entity that is not a primary value).

To just display all possible volume ids that have volume name as required in cli is a very easy read and grep operation.

If we a

[2017-11-23 10:23] #886 closed

[2017-11-23 10:39] obnoxxx commented on #908
@raghavendra-talur sure, I know. I was just trying to tease you...

Also, deleting a volume by name is with the current design not "doable but hard". Instead it's theoretically simply impossible. :-)

The best approximation could be to do the deletion if and only if the name specified belongs to a single volume only. In the other case we could print an error similar to "this name fits multiple vol

[2017-11-23 10:50] obnoxxx commented on #902
should be fixed with PR #907, which is now merged.

[2017-11-23 10:50] #902 closed

[2017-11-23 17:20] obnoxxx commented on #908
It seems I was wrong. We do name checking, and we do enforce a name to be unique in a cluster:

[code]

[2017-11-23 17:20] obnoxxx commented on #908
That means we can in fact do the by-name operations if needed!

[2017-11-23 18:46] humblec commented on #908
Thanks @obnoxxx , in my vague memory it didnt allow me to create volume with same name again, but got confused when I heard name is not unique :). Any way thanks for confirming it.

[2017-11-24 08:54] ghoul008 commented on #837
same question，how to solve it，thx

[2017-11-24 08:59] ghoul008 commented on #837
@4admin2root same question，how to solve it，thx

[2017-11-25 15:16] yu-yang2 opened #914 "heketi hangs in delete volume"
My heketi-cli hangs in delete volume, and heketi sever didn't show any error logs, how to debug?

[2017-11-27 05:47] raghavendra-talur commented on #914
@yu-yang2 do other commands work? Set server to debug logs and see if the request reaches the server.

[2017-11-27 15:42] gnufied opened #915 "Heketi allocates in chunks of GiB and documentation says GB"
The API documentation should be fixed to reflect correct unit used.

[2017-11-28 01:40] yu-yang2 commented on #914
@raghavendra-talur other commands work, after restart heketi server, volumes can be deleted now, thanks

[2017-11-28 01:40] #914 closed

[2017-11-29 13:26] jd-daniels opened #918 "login shell and commands not found with ssh executor"
I'm attempting to load topology on an empty gluster cluster and I'm getting path errors related to no login shell.
This is heketi from EPEL. 4.0.0-2.el7, RHEL7.3, 3.10.0-514.26.2.el7.x86_64. I couldn't seem to find any reference to this issue besides something similar with a vagrant user. The fix, adding the sudo config option, doesn't seem to work in this case.

[code]
If I do 'which gluster' or

[2017-11-30 15:13] obnoxxx commented on #915
Thanks @gnufied , we will fix the documentation!

[2017-11-30 21:33] dhain opened #922 "Replace node/device with same hostname/IP"
If a node fails, and I can get the node back online with gluster running at the same host/IP, but in a fresh state (ie. not part of a trusted pool, has no devices/bricks), then Heketi won't let me recover from this situation. If I try to disable/remove the device while the fresh gluster is running, this is what happens:

    dhain@bonsai2:~$ kubectl exec -it heketi-6965dd57cb-w6vrm -- /bin/sh

[2017-12-01 17:55] phlogistonjohn opened #923 "Heketi dev build on docker has been failing"
https://hub.docker.com/r/heketi/heketi/builds/

I was looking into something else when I noticed that the automated build of the dev docker tag has been failing for a better part of November. The logs there do not appear to show any obvious error so I'm not yet sure what is breaking the build. It does happen locally for me as well, when running docker build in extras/docker/fromsource/.

Example:

[2017-12-01 20:18] phlogistonjohn commented on #923
Heh, I think the cause of this is the new Fedora. The Dockerfile tries to remove make but make appears to be a dependency of dnf now. This is not the case on my Fedora 26 system.

[2017-12-04 16:08] metal3d opened #926 "Orphan bricks ?"
Hi,
Using heketi on Openshift 3.5 with heketi:latest image, I have a strange report - a lot og bricks has no path and I don't know why and how to remove them.

[code]
The problem is that I think that space is not free.

I don't want to break heketi database (to reimport topology) but nothing is explained in documentation to remove bricks.

Note that one node was down this morning and I restarted d

[2017-12-04 23:37] cholcombe973 opened #928 "Consider publishing a protobuf spec instead of json"
I'm trying to implement something that talks to heketi and unfortunately the API docs not in alignment with what the code is doing.  This picture illustrates exactly what I'm experiencing: https://codeclimate.com/blog/choose-protocol-buffers.   A potential solution for this is to publish a [protobuf](https://developers.google.com/protocol-buffers/) specification and have heketi compile against tha

[2017-12-05 08:10] davistran86 opened #929 "Need help - Adding new node succeeded in Openshift but endpoints did not update new node IP"
Hi guys, I'm trying to add new node with new device to existing gluster cluster in Openshift. I have succeeded adding new node by editing topology file. But I saw that heketi-storage-endpoints and glusterfs-dynamic-registry-glusterfs-claim did not update new IP of new node. How do I update the new node IP to those ? beacuse I think if it's not update with new node then there no repilcate data stor

[2017-12-05 22:02] metal3d opened #931 "kubernetes documentation is seriously outdated or wrong"
Hi,
Glade to use heketi on OpenShift, it seems that it's a bit more complicated to deploy heketi on kubernetes with the provided documentation.

I followed https://github.com/heketi/heketi/blob/master/doc/admin/install-kubernetes.md and see some problems:

1. https://github.com/heketi/heketi/tree/master/extras/kubernetes => there is no `deploy-heketi-deployment.json` file, only a one deployment. S

[2017-12-06 13:52] phlogistonjohn commented on #931
Thank you for the feedback! I recently converted a bunch of wiki pages to these documentation files so I am not shocked to find they're outdated or have errors. Off the top of my head I know that your item 2 is correct because the old container images were recently removed and that generated other bug reports.

In addition to improving this documentation, are you aware of the [gluster-kubernetes p

[2017-12-06 16:06] srinivasdesiraju opened #932 "Heketi only shows 500GB of storage when adding a raw block device of size 1.8TB"
I am trying to add a raw block device (1.8 TB size) from a node using heketi-cli, the device gets added but when I check the info it shows the free space as 500GB. Am i missing something. Excuse me if this is something basic, I am trying to look at heketi + glusterfs combination for PV for kubernetes cluster setup at my organization.

[2017-12-06 23:24] metal3d commented on #931
I've forgotten that repo.
I used it to create ansible playbook to install heketi on OpenShift when official repository didn't provide it :)

Ok so, maybe we should remove the current kubernetes installation documentation and link to that repo ?

What I made was to expose heketi service and create storageClass. I can propose a PR with my own install notes - but I didn't set user/secret so...

[2017-12-07 05:18] jianzi123 commented on #595
I met the same problem... How is it going

[2017-12-07 08:14] srinivasdesiraju commented on #932
More Info: So i have 3 nodes each with a seperate 1.8TB disk. I am trying to cluster these 3 disks using heketi. The devices are raw and i have used wipefs to make sure of it. I just added the devices to the cluster and when checked the info it just shows 500GB of available storage for each.

[2017-12-07 12:51] raghavendra-talur commented on #932
@srinivasdesiraju please provide output of heketi-cli topology info

[2017-12-07 12:54] raghavendra-talur commented on #595
@jianzi123 the issue filed here is only to improve the error message. If you are facing same error then the real fix is to ensure that the disk is not partitioned already.

[2017-12-07 13:29] srinivasdesiraju commented on #932
Here is the formatted output.

{
   "clusters":[
      {
         "volumes":[

         ],
         "nodes":[
            {
               "zone":1,
               "hostnames":{
                  "manage":[
                     "mining-cluster-worker2"
                  ],
                  "storage":[
                     "mining-cluster-worker2"
                  ]
               },

[2017-12-07 13:53] phlogistonjohn commented on #931
I'd rather fix it to the point where it's useful as an "educational" document about how these components work together. I have certainly learned a lot going through it and hitting all these issues you mentioned (and some additional ones too). I wouldn't use it as a guide to building a production setup. I'd leave that to the higher level tooling in gluster-kubernetes.

Feel free to provide feedback

[2017-12-07 15:45] raghavendra-talur commented on #932
@srinivasdesiraju, how did you deploy heketi?

If you deployed not by the method prescribed in gluster/gluster-kubernetes then I suspect that you are running heketi in mock mode.

To confirm, show `vgs` output of the gluster node or pod.

[2017-12-11 17:08] sosiouxme opened #934 "Secure Heketi with TLS"
Given growing concerns about wiretapping and multitenancy, many service providers expect to secure even internal networks. Could Heketi provide configuration to secure the connection with TLS? Otherwise it requires setting up a secure reverse proxy in front just for this purpose.

/cc @jarrpa

[2017-12-13 06:55] #915 closed

[2017-12-13 10:01] jmencak commented on #646
Hitting the same issue it seems.

[2017-12-13 17:21] mr-falken opened #937 "Allow smaller brick size that 1GB"
Hi,
  I have heketi / glusterfs setup in my OpenShift env, but can't find a way to allow my users to provide volumes smaller than 1GB.
Am I missing something or is it intended ?

Thks!

[2017-12-13 20:46] akram commented on #413
@humblec snpashot is an offline operation, how does the k8s volume plugin manage it ?

[2017-12-14 06:11] #923 closed

[2017-12-14 07:43] andersla opened #938 "How to manage volumes, e.g. "gluster volume set" via heketi in k8s"
I am running Gluster on kubernetes and managed by heketi as described in docs: https://github.com/heketi/heketi/tree/master/extras/kubernetes
If I would like to tweak volumes with option:
`gluster volume set my-gluster-vol performance.write-behind off`
How would I do this in this heketi-kubernetes setup?

[2017-12-14 08:37] jmencak commented on #646
For me, getting the clocks in sync on all machines fixed this problem.

[2017-12-14 12:45] bateau84 opened #939 "Complete documentation on topology.json"
Im having problems finding any documentation on the fields available in topology.json.
It would be nice with a reference page (complete with all fields and explaining the fields) for topology.json in the docs in addition to examples.

[2017-12-15 08:19] raghavendra-talur commented on #939
@bateau84 Thanks for filing the issue. Working on it, will add doc explaining fields soon.

[2017-12-15 12:19] duritong commented on #696
I have the issue, that for some reasons I when I created volumes, they weren't being created on all gluster nodes. Which means that now when I try to delete the volume in heketi it will fail, as it can't be deleted everywhere, because it doesn't exist everywhere.

These are the error messages I get:

[code]

So it looks like I can't get rid of the volume at all atm.?

This is heketi 5.0.0

[2017-12-19 04:28] bsod90 opened #945 ""Probe returned with Transport endpoint is not connected" when creating a new topology"
Hi Heketi project,

I'm trying to deploy heketi & glusterfs on my k8s cluster and I'm running into a rather weird issue:

I'm trying to use 4 nodes for my gluster (192.168.2.110, 111, 112 and 113)
I'm following this tutorial: https://github.com/heketi/heketi/blob/master/doc/admin/install-kubernetes.md

And at the step, where it finally tries to create a topology, I'm getting this output:
[code]

I

[2017-12-19 08:14] Flow76320 commented on #761
Hi,
The same appears with Docker 1.13 and GlusterFS 3.12

[2017-12-20 02:40] bsod90 commented on #945
After the second day of fighting I found a weird workaround: if I replace storage IPs with hostnames, it magically starts to work.

This allowed me to proceed almost to the finish line, but I ran into another inconsistency almost at the end: at the PVC fulfilment stage.

[code]

[2017-12-21 11:24] zhaorendong opened #947 "create volume error: error creating volume No space"
I had builded gluster cluster by heketi. There are 8 nodes, then I had already created volume. But one node Crashed, then I would create  a volume,but the heketi responsed :create volume error: error creating volume No space. What should I do?
create pvc error following:

Name:          pvc-ftphajd
Namespace:     hajid-ftp
StorageClass:  pvc-ftphajd
Status:        Pending
Volume:
Labels:        <n

[2017-12-21 18:32] soumyapanigrahi-k8s commented on #880
@dougbtv  @obnoxxx am getting the same error but with a slightly diff. stack
It says Minimum brick size limit reached.  Out of space.
Can you please help with a workaround... I am completely blocked coz of this...

[negroni] Started GET /queue/75787c2b14ba1a7a5a5fdad5ea20e762
[negroni] Completed 204 No Content in 52.321µs
[negroni] Started GET /clusters/9db057f88a09f5ce9377b0b3a21b13ec
[negroni] C

[2017-12-23 17:01] amiga23 commented on #947
I have the same issue. RHEL 7.4 and CentOS crash during lvm operations (kernel panic).
Heketi has an own database in which it stores the devices (lvm: pv) and bricks (lvm: logical volumes)
If something fails during creation heketi just stores the bricks in the db.
When it tries to create again, heketi tries to create a new brick. It only takes information from it‘s own database and does not check

[2017-12-26 10:26] nick-scoutbee commented on #947
Greetings!
I have the same problem but I'm using Ubuntu Server 16.04.3 LTS.

/usr/bin/kubectl -n default exec -i deploy-heketi-5c45f969bd-rn2zr -- heketi-cli -s http://localhost:8080 topology info

Cluster Id: aac3b4d3a8e247203329d59d6fa53ed6

    File:  true
    Block: true

    Volumes:

    Nodes:

        Node Id: 6cc5c079ee5c7d265e3af204c67b5ebe
        State: online
        Cluster Id: aac3b

[2017-12-26 12:00] nick-scoutbee opened #948 "gk-deploy. Failed on setup openshift heketi storage"
I have Kubernetes cluster version 1.8.5
Also, I have tried the next Heketi versions: 4 and 5 (5==latest)
Heketi Topology file:

 {
  "clusters": [
    {
      "nodes": [
         {
           "node": {
            "hostnames": {
              "manage": [
                "qa-k8b-slv-01"
              ],
              "storage": [
                "10.10.8.5"
              ]
            },

[2017-12-26 13:03] nick-scoutbee commented on #857
Have the same problem
https://github.com/heketi/heketi/issues/948

[2017-12-26 18:31] #948 closed

[2017-12-28 18:28] innocode-devops commented on #892
@c9s hello, we've had same problem as you. Here's what we've done so far:
1. In `topology.json` changed all `manage` hostnames from IPs (as copied from sample json) to just string hostnames.
2. As a result heketi-cli attempts SSH correctly, but cannot execute `gluster` and such. We forgot to put `"sudo": true` in `heketi.json`, since we intended to use non-root sudoers user.
3. After we added miss

[2017-12-30 05:30] c9s commented on #892
Oh thank you for the detailed response!

[2017-12-30 05:30] #892 closed

[2017-12-30 05:30] c9s commented on #892
My problem is now solved . Thank you

[2017-12-31 20:19] k-troska commented on #876
I had the same problem, worked around this in OpenShift installation by recreating vg by myself after creating topology (by putting pause in ansible after topology call).

The main issue is here:
https://github.com/heketi/heketi/blob/9e8e5bbda5e45cee059e4649d8f42d23945a4296/executors/sshexec/device.go#L37
It forces alignment when creating pv, if created without those parameters it will work withou

[2018-01-02 02:28] zhaorendong opened #949 "How can I backup the Kubernetes secret "heketi-db-backup" to the heketi database?"
I had builded a gluster cluster by heketi and made "backup_db_to_kube_secret": true. Then the heketi created a secret "heketi-db-backup" in Kubernetes.But when the heketi pod restarted, the database of heketi pod "/var/lib/heketi/heketi.db" is a new database  that no original data. How can I backup the Kubernetes secret "heketi-db-backup" to the heketi database?

[2018-01-02 02:45] zhaorendong commented on #945
Can I have a look at your topology-ts.json? Make sure that  manage use the name of k8s node and storage use the node IP

[2018-01-02 20:13] jiaqingw opened #950 "Enhancement: the heketi image is hardcoded in the heketi-cli binary"
Here at the line https://github.com/heketi/heketi/blob/master/client/cli/go/cmds/heketi_storage.go#L56

the docker image name is heketi/heketi:dev is hardcoded. This does not allow for custom image names to be provided.

It would be better if we can have a command line option to override this.

[2018-01-02 20:17] jiaqingw commented on #950
in tools such as https://github.com/gluster/gluster-kubernetes. we wanted to be able to automate the deployment sometimes in order to avoid internal firewall blockage issue to public internet. we have to re-publish the image to an internal docker registry, hence the need for a custom image name but the heketi-cli hardcoded this one make it impossible to override.

[2018-01-02 21:06] bryanlarsen opened #951 "Is heketi supposed to work with glusterfs 3.7?"
I had a node fail and rebuilt it.   Now I'm trying to do a `heketi-cli device remove` to mirror the data onto devices that actually exist.

However, this crashes the heketi container.   As I was gathering info for a bug report, I realized that I was running glusterfs 3.7, and that's quite old, which is probably why it's crashing.

Now I think I have a chicken/egg problem:  I can't migrate the bric

[2018-01-03 16:58] bryanlarsen commented on #951
I rebuilt the storage cluster with glusterfs 3.12, and as a test was able to use the heketi cli to remove a device that had bricks on it, and the bricks were successfully moved.

[2018-01-05 20:16] pjanuario commented on #947
I am facing the same problem and cli version is 5.0.1 and image version 5, tried to wipe the devices and recreate the topology and the problem persists.

[2018-01-06 17:20] pjanuario commented on #857
Having the same problem and using heketi 5 and heketi-cli 5

[2018-01-09 12:12] wernergillmer opened #953 "Cannot remove node or device"
I have a failed node (vm is lost), I want to remove the node from the cluster. If I schedule a pvc in kubernetes, heketi still tries to use that node with glusterfs.

Trying to remove the node does not seem work.

    ➜  gluster (master) ✗ heketi-cli cluster list
    Clusters:
    Id:a17022931130a42a68b4e79059ac3683
    ➜  gluster (master) ✗ heketi-cli node list
    Id:43d11eedcc63827dc5a4d3488861

[2018-01-09 20:16] pjanuario commented on #947
I am having this error and I was running a cluster with 2 worker nodes, I think in my case the error is related with the volume replication factor being hardcoded to 3.

https://github.com/heketi/heketi/blob/master/client/cli/go/cmds/heketi_storage.go#L117

[2018-01-12 04:48] hiyijian opened #954 "Is it possible to use rdma with kubernetes-heketi"
Hi stuff,
I am trying to use infiniband rdma to boost gluster. Is it possible? I guess StorageClass might be provide a chance to set it, but it seems to be wrong and I found nothing about this in docs

[2018-01-15 06:47] ghadimani21 opened #956 "Heketi operations not reflecting in glusterfs server"
Started the two glusterfs server and able to create and mount volumes in two servers.
I have built heketi for version 5.0.1.
This is how I started the server from heketi after build.
[code]

The server started running on 8080
Now I am using the heketi client to interact with heketi server as follow
[code]
 Added the topology.json with data in glusterfs server and able to run the following commands

[2018-01-15 08:20] obnoxxx commented on #956
@ghadimani21, thanks for reporting your issue!

The example config file `etc/heketi.json` configures the **mock** executor which does not send commands to gluster at all and is used for testing purposes.

Please change this setting to `ssh` or `kubernetes` whichever applies to you (I assume `ssh`). You also have to fill the details of how to reach the gluster server with ssh (the settings under `s

[2018-01-15 08:20] #956 closed

[2018-01-16 05:23] raghavendra-talur opened #957 "blockvolume creation fails for size greater than 1024 GiB"
In a setup with 3 block hosting volumes of size 500GiB, 500GiB and 2048 GiB, if a blockvolume of size 1500GiB is requested it fails with "Error: Default Block Hosting Volume size is less than block volume requested"

This is because requested size is being compared with default(note: not max) size of block volumes.

[2018-01-16 08:49] dquagebeur commented on #926
Hi,
I think we are in a similar case.

We found that heketi reports a full cluster, but in fact, the cluster is only 55% used (1TB).
In our 'heketi-cli topology info', there are 3 cases:
- Normal: bricks with id and path, and id referenced in a volume (Volumes section)
- Mounted but unreferenced: bricks with id and path, but id not referenced in any volume
- Unmounted: like metal3d, bricks with id

[2018-01-16 09:26] sunriax opened #958 "Executing commands with sudo"
We have searched how heketi can execute commands with sudo and found an implementation error. In the Issue #299 the sudo was removed from the commands which is great, but the [ssh.go](https://github.com/heketi/heketi/blob/255ff7a68de06d3016379817c213a9875c66107f/pkg/utils/ssh/ssh.go) **ConnectAndExec** function has still the issue that it runs a bash with the sudo command **(it becomes root!!!)**

[2018-01-16 10:18] ravisalamani opened #960 "Facing issue while adding device"
I am able to do the following operations on glusterfs
Started the gluserfs using the command
$ glusterd

started creating volume as follow:
[code]
$ mkdir /demo1_mount
$ mount -t glusterfs in-ibmibm1034.persistent.co.in:/demo1 /demo1_mount
$ df -h
[code]
With above commands I can say that the glusterfs is good. I am able to create and mount the volume.
I stoped and removed the volume demo1

Now I

[2018-01-17 00:46] gnanderson opened #961 "NewSimpleAllocatorFromDb always results in `nil` allocator being assigned to App"
Heketi daemon breaks for me with the following error - because there is no check for the error type returned from `AddCluster` inside `NewSimpleAllocatorFromDb`. This in turns makes the error result of the bolt transaction return `nil` to the App's allocator field.

Does the method signature really need to be this? (doesn't look like the error is really doing anything useful after being returned)

[2018-01-17 11:14] robdewit opened #963 "Feature Request: adjust replication factor on existing volumes using heketi-cli"
Feature request/Missing functionality

How do I adjust the replication factor of existing volumes. Heketi provides functionality to add nodes to a cluster, but I can't find a way using heketi to add bricks with a new replication factor.

I could just create bricks and add those with new replication factor using 'gluster' cli utility. Then the volumes would be like I want them, but wouldn't that di

[2018-01-19 20:49] kleht8 commented on #913
Any updates on this? I've deployed cluster in GKE and facing same problem. heketi-cli etc. works fine and I can access heketi endpoint from other pods, but defining resturl  in storage class gives me same error.

`Warning  ProvisioningFailed  20s (x16 over 11m)  persistentvolume-controller  Failed to provision volume with StorageClass "gluster-heketi": create volume error: error creating volume Po

[2018-01-21 08:17] johnsimcall commented on #926
This issue is impacting me as well.  It seems I got into this mess because I ran low on disk space.  I'm in the middle of manually removing the orphaned bricks from the OCP nodes hosting the Gluster pods.  Basically I'm comparing the output of "heketi-cli topology info" against each Gluster pod's "lvs"...

[2018-01-22 09:40] robdewit commented on #926
+1, I ran into the same problem a month ago, but I reinitialised from scratch so I can't provide details any more :-(

If I had a 'sychronization process' I would have been able to keep used bricks.

(BTW: I would like a 'synchronisation process' also to be able to adjust replication on existing volumes. I could do it using gluster and would be happy if heketi would sync against the changed volume

[2018-01-22 11:14] nixpanic commented on #712
@kramdoss the current version (master branch) returns this when there is no topology loaded:

[code]

The `Error calling v.allocBricksInCluster: Id not found.` does not seem to happen anymore. I think `no space` is an appropriate message. Can this be closed, or should we improve it further?

[2018-01-22 12:08] nixpanic commented on #730
@obnoxxx, I created a cluster with a singe storage node without bricks. The error is different now:
[code]

I guess this can be closed, similar to #712.

[2018-01-23 13:19] adoerler opened #976 "Howto create two clusters on the same nodes for two different types of disks (slow and fast)"
Hi,

I'm trying to accomplish the following setup:
* two storage nodes with one SSD and one HDD Softraid-Array in each server
* one spearate server running the heketi service
* to be able to claim either the fast or the slow storage, I've tried to setup a topology of two clusterIDs
* in Kubernetes there are two storage classes for each of those cluster IDs. This way it would be possible to claim e

[2018-01-23 19:35] nixpanic commented on #799
@ekuric, could you check the posted patch and let me know if that is what you are expecting?

[2018-01-24 00:12] zhaoyun006 opened #980 "heketi in k8s error namespace not found"
I use default heketi-deployment.json and heketi.json create heketi in k8s, path is https://github.com/heketi/heketi/tree/master/extras/kubernetes/

use command
1、 kubectl create secret generic heketi-config-secret --from-file=./heketi.json
2、kubectl create -f heketi-deployment.json
     service "heketi" created
    deployment "heketi" created

An error occurred

[root@k8s-test_1_55_114 glusterfs]#

[2018-01-24 01:04] zhaoyun006 commented on #980
I mount config namespace
Mounts:
      /etc/heketi from config (rw)
      /var/lib/heketi from db (rw)
      /var/run/secrets/kubernetes.io/serviceaccount from heketi-namespace (rw)

heketi start error
I show logs:
  [root@k8s-test_1_55_114 kube-templates]# kubectl logs deploy-heketi-658d778d8f-4cn4g     --namespace=kube-system
Setting up heketi database
  File: /var/lib/heketi/heketi.db
  Size: 0

[2018-01-24 08:33] obnoxxx opened #981 "[RFE] Heketi DB should have a Change Sequence Number"
For instance in order to be able to tell whether the allocator's ring structure cache is up to date, it would be good if our db had a Change Sequence Number that would be set to 0 upon DB creation and bumped (+1) automatically with every transaction (Update()).

For now, this would need to be implemented with a wrapper around boltdb, but I also put an RFE into Boltdb: https://github.com/boltdb/bol

[2018-01-24 08:36] obnoxxx opened #982 "[RFE] Heketi DB should have a generation number"
For dealing with backups(dumps) and restores, it would be helpful if our heketi DB had a generation ID: A UUID that would be created and stored in the DB when the DB file first gets created. This would never change during the lifetime of the DB, and could be retrieved with a method like GetDBGenerationID() or similar. Together with the Change sequence number proposed in #981, we would have a very

[2018-01-24 18:33] phlogistonjohn commented on #980
Hi There,
Could you provide a bit more detail about how you are deploying and configuring heketi? Are you doing it all by hand?  What version of Kubernetes are you using?

The log line in your first message should only be emitted if you did not manually specify a namespace in the json config file and that heketi cannot successfully probe its own namespace.  Is there a /var/run/secrets/kubernetes.i

[2018-01-25 00:30] zhaoyun006 commented on #980
@phlogistonjohn
I configure heketi.json file

    "kubeexec": {
      "rebalance_on_expansion": true,
      "namespace" : "default"
    },

start pod error

#kubectl logs heketi-794587b794-rcvcn
Heketi v4.0.0-8-g9372c22-release-4
[kubeexec] ERROR 2018/01/25 00:27:41 /src/github.com/heketi/heketi/executors/kubeexec/kubeexec.go:133: Unable to create configuration for Kubernetes: open /var/run/secret

[2018-01-25 10:58] adoerler commented on #976
Hello again,

after days of struggling it seems like k8s requires the storages to be IP addresses, not hostnames (see also #945).

I'm not really happy with this, but I could nod find another way to fix this problem.

My final topology.json looks like:
[code]

So if one needs different storage classes (i.e. different HEKETI cluster IDs) on the very same nodes a different hostname per HEKETI cluste

[2018-01-25 17:38] LihoyKozak opened #985 "No space error when trying set up glusterfs storage at kubernetes using heketi"
Hello,

I'm trying to create GlusterFS containerized storage nodes in a Kubernetes cluster. Using the next guide:
https://github.com/heketi/heketi/blob/master/doc/admin/install-kubernetes.md

I have performed steps one by one.
But when runs **heketi-client/bin/heketi-cli setup-openshift-heketi-storage** get the error:
"No space"

At the deployment log:

Pods:

[code]

Heketi cluster:
[code]

[code

[2018-01-25 17:59] phlogistonjohn commented on #980
It is probably not worth trying to manually provide all the Kubernetes executor configuration values manually. I would focus on debugging why Heketi can not automatically get this information from var/run/secrets/kubernetes.io/serviceaccount/

What version of Kubernetes are you using?

What output do you get from the following commands?
* kubectl exec -it <heketipod> -- ls -l /var/run/secrets/kube

[2018-01-26 00:14] zhaoyun006 commented on #980
kubernetes version is 1.8.2
I modify heketi container  Entrypoint , can start heketi container

I exec following commands
sh-4.3# ls  /var/run/secrets/kubernetes.io/serviceaccount/
ls: cannot access '/var/run/secrets/kubernetes.io/serviceaccount/': No such file or directory
sh-4.3# ls  /var/run/secrets/
ls: cannot access '/var/run/secrets/': No such file or directory

manually create dir

#mkdir /

[2018-01-26 01:11] zhaoyun006 commented on #980
@phlogistonjohn
I now can run heketi server，thanks!

[2018-01-26 01:13] zhaoyun006 commented on #980
@phlogistonjohn
I don't know How to configure token
What file content in /var/run/secrets/kubernetes.io/serviceaccount/token ?

can you help me?

[2018-01-26 08:31] LihoyKozak commented on #985
Solved at https://github.com/gluster/gluster-kubernetes/issues/428

[2018-01-26 08:31] #985 closed

[2018-01-29 14:20] SaravanaStorageNetwork opened #987 "Heketi minimum volume size should be documented"
As per code minimum volume size supported is 2GB.
[heketi](https://github.com/heketi/heketi/blob/master/apps/glusterfs/app_volume_test.go#L218
)

But, this is not documented anywhere ( as I checked) .
Can we add this as part of heketi-cli man page and as part of heketi documentation in github?
Also, specific reason to have this restriction will be great.

User may have carved out 1GB bricks and tr

[2018-01-29 14:26] obnoxxx commented on #987
@SaravanaStorageNetwork This is ony this test: The min volume size is gated by the BrickMinSize which can be set to 1 (==1GiB) at minimum. This test sets it to 4, see https://github.com/heketi/heketi/blob/master/apps/glusterfs/app_volume_test.go#L178.

It can be configure.
You are right, that apparently this is not clearly documented...